[2016-03-07 10:27] traversaro commented on #15
The relevant file for that tutorial is in https://github.com/robotology/yarp/blob/45e06ce13f076efce166711841ab130a04b17d4b/doc/installation/install_linux.dox , so feel free to add the tab completion instructions with a PR. @fjandrad

[2016-03-07 11:20] LakshithaHKUST opened #101 "Find the DH parameters for iCub Simulator Arm"
Hello Everyone,

I would like to know whether there is a way to find the DH parameters for the iCub simulator arm?
There seems to be different versions of the arm and I am little bit confused.

Thanks in advance.

[2016-03-07 13:07] pattacini commented on #101
As per the [`code`](https://github.com/robotology/icub-main/blob/master/src%2Fsimulators%2FiCubSimulation%2Fodesdl%2FiCub.cpp#L3982), the kinematic version used by the simulator is the default one, that is `1.0`.

[2016-03-07 13:11] pattacini commented on #101
To retrieve the corresponding DH parameters, you can refer to our [**wiki**](http://wiki.icub.org/wiki/ICubFowardKinematics_left).

[2016-03-07 13:38] LakshithaHKUST commented on #101
Thank You very much for the prompt reply. I'll proceed with v1.0 DH parameters.

[2016-03-07 13:45] pattacini commented on #101
@LakshithaHKUST

You should have received an invitation to join our developers' group.
Once accepted you'll be entitled to assign **labels** to issues herein.

[2016-03-07 13:46] pattacini commented on #15
@fjandrad

You should have received an invitation to join our developers' group.
Once accepted you'll be entitled to assign labels to issues herein.

[2016-03-07 13:56] LakshithaHKUST commented on #101
could you please send me the invitation again, my email had a typo
sorry about the inconvenience. thanks for adding me to the developers' group.

[2016-03-07 13:59] pattacini commented on #101
Sure; just done!

[2016-03-09 08:49] DanielePucci commented on #61
@spada1978

[2016-03-09 09:03] DanielePucci commented on #61
The dummy has been re-designed. Then, the weight is changed accordingly.

[2016-03-09 09:06] DanielePucci commented on #61
For further information on the previous dummy weight, see #56

[2016-03-09 09:14] traversaro commented on #61
@DanielePucci what is the status of the models commited in the repositories?

[2016-03-09 09:35] DanielePucci commented on #61
I sincerely don't remember, but I have flashes of a conversation with you where I asked you to add additional weight on the dummy. We shall check @traversaro @francesco-romano

[2016-03-10 10:43] pattacini commented on #100
let's try again with @randaz81 @maggia80 :smirk:

[2016-03-13 12:36] kt10aan opened #102 "iCub "cloning""
We want to replicate a demo we have running on our iCub (let's call it `iCub01`) on another iCub elsewhere (say `iCub02`).

The thing is, `iCub02` and its cluster are not updated for a significant amount of time (~2 years), and since our demo is using very recent modules from icub-main and yarp, it won't work directly on `iCub02`.

For various reasons, (mostly time) the option of fully upgrading `

[2016-03-13 13:23] pattacini commented on #102
Hi @kt10aan

Focusing on PC104, what would be the net result in terms of saved time with respect to a clean solution entailing a full upgrade from scratch? In the end, you have to make sure that the robot will start with fresh software and up-to-date config files.

The rest of your plan regarding the cluster should be doable and somewhat risk free :smirk:.

[2016-03-13 13:48] lschilli commented on #102
Two additional points: The demo will only control the iCub head. Time saving will also include saving testing time, because network config / software versions have already been tested on one iCub including all config files / patches etc. Of course in the end there has to be at least one test.

[2016-03-13 14:22] kt10aan commented on #102
@pattacini, the net result in time saving will be positive. As @lschilli pointed above, it will be mostly testing time that will be saved. There is also the issue of which side (iCub01 or iCub02) performs the updates/upgrades. As we will be visiting iCub02, we don't want, in relatively short notice, to make them perform a full upgrade of their platform.

With the cloning solution the robot will st

[2016-03-13 16:50] pattacini commented on #102
What is still unclear to me is how you did test the `iCub02` config files without having that specific robot at your disposal yet. You said it has a ~2 years old configuration, so I imagine you somehow updated those files, or did anyone from the Facility do that?

I understand you're trying to spare them the burden of upgrading the system, which is a crucial task. However, my point is that the mos

[2016-03-13 17:16] kt10aan commented on #102
@pattacini, the config files from ``iCub02`` have been updated in the last batch of mass config updates, by @randaz81 . The commit was https://github.com/robotology/icub-main/commit/dba955a8944cbd6e76b9455d74f95082a261f8a5. So I assume that these config files are safe. The only things missing (as was the case for quite a few robots) are the ``AxisType``, ``AxisName`` and ``motorPwmLimit`` paramete

[2016-03-13 17:40] pattacini commented on #102
If this is the context, that should be ok then, and I don't see any particular _pitfall_ at the moment in your **cloning procedure**, although you may want to wait for others' advices before proceeding.

[2016-03-14 09:45] barbalberto commented on #102
I'm taking this QA to espress  _a general rule of thumb_, do not take it personally.
**The best way to have a robot working is to keep it constantly updated.**
#### A 2 years update in one step is inherently risky.
Some piece of code your demo rely on, may be completely removed or changed in the meantime.

The point is they should not be in this such a situation. I know I'm rude and they have a lo

[2016-03-14 16:11] kt10aan commented on #102
@barbalberto, I do agree that the preferred method for the iCub would be to be continuously updated.

And while a 2 year delay in updating the robot is tooo long and makes things inherently risky, many labs operate differently than IIT: For a start, there may be gaps with people leaving and gaps between new projects, when new people are coming. Quite often labs are without an "iCub person" for mon

[2016-03-14 16:21] kt10aan opened #103 "Announcing incompatibilities and changes in YARP/iCub software"
I had talked about this a long time ago, maybe before the QA repo was started. But I think it is a good time to bring it up again.

The YARP/iCub software is continuously evolving and quite often changes break older stuff. It can be innocent renames in the API (like moving math functions from `iCub::ctrl` to `yarp::math`), it can be renaming and/or moving of essential modules `iCubInterface` to `r

[2016-03-14 16:36] pattacini commented on #103
Hi @kt10aan

Yours is a very good suggestion we are already trying to target with our brand new policies for the workflow. These policies will be out soon, hopefully, including a proper way to make very clear what changes will break compatibility needing all developers to be very much aware of.

Stay tuned.

[2016-03-14 17:17] kt10aan commented on #103
@pattacini great news!

[2016-03-16 08:31] traversaro opened #104 "How do I stream the output of a webcam on a YARP port?"

[2016-03-16 08:44] traversaro commented on #104
If your webcam is supported by OpenCV, you can easily stream it on a YARP network using the `opencv_grabber` device. [1] [2]

First, make sure that you compiled YARP with OpenCV support, by opening making sure that the `YARP_USE_OPENCV` CMake advanced option is setted to `ON`.

Then you can check if the `opencv_grabber` device is available on your machine by using the `yarpdev --list` command.

If

[2016-03-16 08:48] dcam0050 commented on #104
install yarp with opencv_grabber

then do yarpdev --device opencv_grabber \nameOfPort

On 16 March 2016 at 08:31, Silvio Traversaro <notifications@github.com>
wrote:

[2016-03-16 09:24] drdanz commented on #104
Another option is to use the `ffmpeg_grabber` device:

[code]

[2016-03-16 11:31] pattacini commented on #103
@kt10aan, if you want to have already a "sneaky" preview of what these policies will be about, take a look at these [**instructions**](https://github.com/robotology/yarp/blob/master/.github/CONTRIBUTING.md).

With regards to the list of **new features** and **bug fixes** published upon taggin the stable branch - comprising breakage of back-compatibility -, we are thinking of exploiting directly th

[2016-03-16 11:42] pattacini commented on #102
@kt10aan report here the outcome of your experiments, so we could in turn tell you

- either _"hey, we told you not to do that"_
- or _"well done and thumb up for your smart bravery"_

:smirk:

[2016-03-16 12:08] randaz81 commented on #102
Looking at the procedure, I think that you'll also need to run `ccmake ..` in `$ICUB_DIR` on the pc104, in order to regenerate the `$ICUB_DIR/share/iCub/robots/<robot name>` folder, whcih is the default path searched by robotInterface for the robot configuration files.

[2016-03-17 15:54] pattacini opened #105 "Attaching portmonitor scripts with specified parameters"
Hi @apaikan

Do you know whether there's the possibility to specify a parameter in the syntax we use to attach a lua script to a connection?

@Tobias-Fischer is interested in this.

[2016-03-18 18:05] kt10aan commented on #102
After going through all the pain of the "cloning procedure", I had a closer look at the config files of ``iCub02``, which is ``iCubBielefeld0x`` and I realized that despite the fact that they were included in the recent mass update of files, their structure is the old one for ``iCubInterface``.

- I will assume that the old format config files do not work with ``robotInterface`` (or ``yarprobotint

[2016-03-18 18:31] lschilli commented on #102
We will use iCubBielefeld03. Ok, there was some misunderstanding about the config file state, which is old ini: https://github.com/robotology/icub-main/tree/master/app/robots/iCubBielefeld03/conf
Anyway the plan remains the same. However, we will use the OsakaConfig files as template and try to run only the head and torso after adaption the the Bielefeld iCub.

[2016-03-22 18:03] drdanz commented on #104
Yet another option... on linux the usbCamera device (from the [robotology/icub-main](https://github.com/robotology/icub-main/) repository) uses video4linux and therefore can be used to stream from a webcam:

[code]

Thanks @barbalberto for this hint.

[2016-03-24 22:41] pattacini commented on #103
Closing for now.

[2016-03-24 22:45] pattacini commented on #100
Better mark this issue as **unanswered** and close it.
@hu-yue feel free to ping again on this.

[2016-03-24 22:45] pattacini commented on #96
Better mark this issue as **unanswered** and close it.
@hu-yue feel free to ping again on this.

[2016-03-25 14:50] lornat75 commented on #103
These are the pages that list the changes introduced at each past and upcoming releases:

iCub: http://wiki.icub.org/wiki/ChangeLog

YARP:  http://www.yarp.it/changelog.html

@drdanz @randaz81

[2016-03-25 16:15] randaz81 commented on #96
Current overload protection at firmware level is currently under refactoring/development.

_[...]but I'm still a bit concerned about how much it's safe to increase it and how fast does the limit trigger the HW fault[...]_

It is not safe. You be should be very careful until the new FW build is released.

[2016-03-29 09:30] apaikan commented on #105
Passing the parameters to a portmonitor plugin (lua/C++) at the connection time is not supported yet due to the limitation imposed by YARP carrier syntax. However, the paramters can be set/configured after establishing the connection via yarp administrative commands:

- See [An example which shows how to use a Lua script to modify image data] (http://www.yarp.it/image_modification.html)

There are

[2016-03-29 13:41] Tobias-Fischer commented on #105
Thanks @apaikan! That's great. I'll give it a go soon.

[2016-03-29 17:41] pattacini commented on #105
Thanks @apaikan for the suggestion!
Closing for now; @Tobias-Fischer feel free to post here again.

[2016-03-29 17:42] pattacini commented on #102
Closing for now. Feel free to contribute further on this.

[2016-03-31 12:36] traversaro commented on #53
fyi @fjandrad

[2016-03-31 14:19] plinioMoreno opened #106 "Upgrade control boards firmware on Vizzy"
@randaz81,

We want to update to the latest yarp and iCub repositories, and we want to know if we need to upgrade the firmware of our control boards. The current versions as follows:

RM 4DC 1.11.82 (1.17.82)
RM BLL 1.61.82 (1.97.82)
Eyes: RM 4DC 1.15.80 (1.21.80)

And I would like to know what would be needed to use the saccadic mode on Vizzy (and if it's possible at all).

Thanks in advance

[2016-04-01 09:10] randaz81 commented on #106
Hi @plinioMoreno,
current firmware build is 84. I'm not aware of any compatibility issues, you can easily update the boards using the binaries available in the git repo **icub-firmware-build**. Remember: the first two numbers must NOT change (e.g. for the eyes board use the binary for version 1.15 and NOT the one for version 2.15).
Remember also that, besides **yarp** and **icub-main**, you also n

[2016-04-01 10:44] plinioMoreno commented on #106
Hi @randaz81,

Thanks for the info. I'll contact you in case the xml files need to be changed.

@pattacini, I'll update Vizzy's control gaze code and let you know about the saccadic mode.

[2016-04-25 22:41] muhammadalidildar opened #107 "Mjpeg carrier gives error"
Hi all! I am trying to transfer iCub cam images to a non-YARP application. Here I must mention that I didn't install YARP and iCub from sources. I installed from executables on Windows. Now I am trying to transfer images using mjpeg carrier but the errors give me impression that the required libraries are not installed. If so, please help me how can I tell YARP to enable support for the carrier mj

[2016-04-26 09:25] drdanz commented on #107
Unfortunately, the mjpeg carrier is not shipped with the binary packages yet.
At the moment the only way to get mjpeg working is to build it from sources.

Anyway, since the plugin system should be working properly, I think that we can try building it and sending you the dll, but you need to let us know which version of MSVC you downloaded, and which architecture (32 or 64 bit).

[2016-04-26 12:35] UChervet opened #108 "Create custom configuration file with home position for the yarpmotorgui"
Dear all,

I freshly installed yarp iCub and the codyco superbuild to work with the WBI and Gazebo.
When I try to bring the robot to an home position with yarpmotorgui I get an error :
"Asking the yarprobotinterface to homing part right_arm through the remoteCalibrator interface, since no custom zero group found in the supplied file."

How do I create this custom zero group ? Is there a configurat

[2016-04-26 12:40] jeljaik commented on #108
There is already one in `/icub-gazebo/conf`. First `cd` to that location and then launch the `yarpmotorgui` as: `yarpmotorgui --from robotMotorGui.ini`

[2016-04-26 12:43] pattacini commented on #108
@jeljaik I feel to really encourage the use of the command line option `--context` rather than `cd`-ing straight in the directory :wink:.

[2016-04-26 12:44] UChervet commented on #108
@pattacini How should I call it with the context option ?

[2016-04-26 12:51] pattacini commented on #108
@UChervet
[code]
where **`context-name`** is the name of the context where you installed the bundle of `icub-gazebo` applications.

See #42 for more details on this topic.

[2016-04-26 13:00] UChervet commented on #108
Thanks I put  my custom configuration file in my YARP_DATA_DIRS personal folder and I works even without context.

[2016-04-26 13:24] barbalberto commented on #108
Dear all, home and calibration parameters **SHOULD NOT** be inside the motorgui config file.

Instead, the calibration and homing are remote, in the sense that values are stored by the yarprobotinterface and the motorgui only ask to perform the operation, without providing any parameters.
If it does not works, it means the config file of the robot is missing the following part:

in file <yourRobot

[2016-04-26 13:30] barbalberto commented on #108
Sorry, I just read this was about the simulator... I was speaking about the real robot.

Since the simulator does not support calibration device yet, the zero values must still be in the motorgui config file.

An improvment could be to introduce calibrationg, at least homing/parking, device in the simulator to have the same behaviour.

[2016-04-26 13:41] lornat75 opened #109 "robotInterface moved to YARP"
This is to notify that the executable **`robotInterface`** has been moved to YARP and will be soon removed from the `icub-main` repository. Following YARP's naming convention, we renamed it **`yarprobotinterface`**.

Not much is required to use `yarprobotinterface`, just update and recompile YARP. However, you have also to rename the file `robotInterface.ini` to `yarprobotinterface.ini` (in `$ICUB

[2016-04-26 14:32] randaz81 commented on #108
But please consider this just a temporary fix... Home values will be remotized soon :)

[2016-04-26 16:12] muhammadalidildar commented on #107
Thank you very much for your kind favor. I installed YARP for Visual Studio v11 (2012), 32 bit.

[2016-04-28 09:14] drdanz commented on #107
@muhammadalidildar I think this should be all you need to get it working, but I couldn't try it... [mjpeg_carrier_v11_x86_0.zip](https://github.com/robotology/QA/files/240153/mjpeg_carrier_v11_x86_0.zip)

You have to extract the dll's in the plugin folder (that should be something like `C:\Program Files\robotology\yarp\lib\yarp`). I'm not sure if there is a `Debug`/`Release` somewhere (either befo

[2016-04-28 21:26] muhammadalidildar commented on #107
Hi! I just placed all the three files in `C:\Program Files (x86)\robotology\yarp-2.3.64\lib\yarp` and for the .ini file, I already had it in the right place. Now its working fine.
I am very much thankful and satisfied with your kind support.
Thanks once again.

[2016-04-29 15:01] frank-foerster opened #110 "A question & images regarding iCub skin"
Dear all,

I have been contacted by a content developer from the Science museum in London with regards to the iCub skin. As I know next to nothing about its skin, I decided to ask the wider iCub community, that is you, for help.
1. Firstly, she wants to know whether the patch of skin on the attached image is identical to the one employed on the iCub.

   So my **first question**: is the skin used

[2016-05-01 16:44] pattacini commented on #110
Maybe @maggia80 can help in this respect.

[2016-05-02 07:12] maggia80 commented on #110
Hi Frank,

No, this is not the iCub skin. I would like to know where she found it, if it is possible. Here in attachment the picture of the icub skin. I'll check if I can find also a picture of the skin on iCub.
![skintriangles](https://cloud.githubusercontent.com/assets/6987330/14948932/d65755c6-1045-11e6-9544-6c5be4d27d99.png)

[2016-05-02 07:39] maggia80 commented on #110
few more picture

https://www.dropbox.com/sh/qf4bb19xha1u0w9/AAB6O6ElGjWi2BemU8adXhaXa?dl=0

[2016-05-02 15:40] frank-foerster commented on #110
Thanks for the images - I'll forward them to Anna. If they like them, is it ok for them to use them in their exhibition?
I will also tell her that the two types of skin are not the same, ask her for some more detail, and will get back to you.

[2016-05-02 19:16] pattacini commented on #110
Hi @frank-foerster

There's no problem in using the pictures in the exhibition.

[2016-05-04 18:17] alecive commented on #110
@matejhof should have a pretty good picture of the blue robot with all the skin parts exposed if I recall correctly!

[2016-05-05 11:51] frank-foerster commented on #110
Hi @maggia80, Anna finally got back to me. Evidently the piece of skin on the image is a loan given to them by Giorgio Cannata at the University of Genoa who were involved Roboskin (and are presumably around your corner). She sent me a link to a leaflet from Roboskin on which there are images of similar skin as the one on the image she sent.
(http://cordis.europa.eu/docs/projects/cnect/0/231500/08

[2016-05-05 12:12] maggia80 commented on #110
ok yes I realized that it could be a picture from Giorgio. give my contact directly to her

[2016-05-05 12:28] frank-foerster commented on #110
@maggia80: I actually don't have your email address (and it's not stated on your Github profile).
Could you send it to me? (I put mine on the profile).
Thanks

[2016-05-05 12:39] maggia80 commented on #110
I sent you my  mail

[2016-05-05 16:19] pattacini commented on #110
Closing here.
Feel free to reopen.

[2016-05-08 12:19] DanielePucci opened #111 "Mapping between the EMS addresses and the robot associated parts"
Is there a documentation where it is explained the mapping between the EMSs and the robot associated parts? For instance, the EMS 6 is in charge of handling the motion control and the strain for the left upper leg. Can we have a complete description for the entire robot?

@marcoaccame @valegagge @ale-git @randaz81

[2016-05-10 15:15] traversaro opened #112 "How do I read data from a BNO055 Xplained Pro board using a TTL-232RG-VREG3V3-WE cable and YARP?"
See title.

[2016-05-10 15:16] traversaro commented on #112
Datasheet BNO055 : https://www.bosch-sensortec.com/bst/products/all_products/bno055 .
Docs Atmel BNO055 Xplained Pro : http://www.atmel.com/tools/ATBNO055-XPRO.aspx?tab=documents
TTL-232R-3V3 cable : http://www.ftdichip.com/Products/Cables/USBTTLSerial.htm

# Connect the  TTL-232R-3V3 to the BNO055 Xplained Pro pinout
| TTL-232R-3V3  |  BNO055 Xplained Pro |
|:--------------------:|:--------------

[2016-05-10 20:28] pattacini commented on #111
@marcoaccame are you willing to take on this?

[2016-05-11 13:49] marcoaccame commented on #111
Hi @pattacini, I can prepare the document.

Where do you think it is best to publish it?

[2016-05-11 13:52] pattacini commented on #111
Thanks @marcoaccame

Ideally, the place should be our [wiki](http://wiki.icub.org/wiki/Main_Page), but it's better to talk to @randaz81 for that.

[2016-05-11 14:07] marcoaccame opened #113 "embObjAnalogSensor is now split into embObjMais, embObjStrain and embObjInertials"
In `ETH` robots `embObjAnalogSensor` is split into `embObjMais`, `embObjStrain` and `embObjInertials`.

Hence, compilation of `icub-main` requires definition of these three new devices.
See http://wiki.icub.org/wiki/Compilation_on_the_pc104 for complete instructions.

[2016-05-11 14:53] DanielePucci commented on #111
👍

[2016-05-15 10:21] vicentepedro opened #114 "Super-impose the kinematic model on the camera images"
Hi all!

I was wondering if there is a YARP/ICUB module to super-impose the kinematic model of the iCub Arms (using iKin) on the camera images.

Thanks in advance,

[2016-05-16 07:24] pattacini commented on #114
Hi @vicentepedro

As of now there's no proper module I'm aware of that does what you need. However, you could get inspiration from this [**code**](https://github.com/pattacini/icub-contrib/tree/master/show-fingers), which basically draws the fingers skeleton on the images acquired from the camera.

In your context, you might find useful to rely on the version of [**`getPose`**](http://www.yarp.it/

[2016-05-16 07:40] apostroph opened #115 "iCub "falling" in Gazebo"
Hi,

I am migrating from `iCub_SIM` to **`Gazebo`**, but the iCub appears to "fall" whenever I send a command to the Cartesian controller in `Gazebo`.

I am using the command **`goToPose(xd, od)`** to set the right end-effector to:

[code]

It works very well with the `iCub_SIM`, but not with `Gazebo` (see enclosed screen-shots)

I tried to start the `wholeBodyDynamics` or/and the `gravityCompensa

[2016-05-16 07:44] traversaro commented on #115
I think that the problem is that in Gazebo simulation, the velocity control is not properly tested/tuned (see https://github.com/robotology/gazebo-yarp-plugins/issues/240).
This is happening because `simCartesianControl` is using velocity control by default, you can try to make it use the `POSITION_DIRECT` mode by setting the [`PositionControl`](https://github.com/robotology/icub-main/blob/master/

[2016-05-16 08:08] claudiofantacci commented on #114
Hi @vicentepedro

as @pattacini said, [show-fingers](https://github.com/pattacini/icub-contrib/tree/master/show-fingers) is a valid starting point for your need.

You may also want to check some of the code I wrote starting from [show-fingers](https://github.com/pattacini/icub-contrib/tree/master/show-fingers), in particular the [`DrawHandSkeletonThread `](https://github.com/claudiofantacci/movefi

[2016-05-17 00:39] apostroph commented on #115
I changed the option PositionControl to "on" in simCartesianRightArm.ini and simCartesianLeftArm.ini.
It worked perfectly, thank you.

Cheers,
Jimmy

[2016-05-19 13:51] vicentepedro commented on #114
Thank you, @pattacini and @claudiofantacci.

I tested the module (show fingers) and for now, I think it is sufficient for what I need.

[2016-05-23 12:24] hu-yue commented on #100
Hi,
I would like to reopen this issue as we have now a student working on the springs of the robot, we'd like to know how to deal with this sensor? @randaz81 @maggia80
Thanks!

[2016-05-23 15:11] randaz81 commented on #100
Currently ETH firmware is not able to read NEI sensor. I'm thus transforming this issue into a feature request @valegagge @marcoaccame

[2016-05-23 17:13] traversaro commented on #100
Probably also @TeoKa is interested in this.

[2016-05-26 14:11] maggia80 commented on #112
actually the FTDI cable you are using is not correct since the Vcc is 5V, only the TX and RX has the 3V3 levels.

The right cable is the TTL-232RG-VREG3V3-WE

[2016-05-26 14:21] traversaro commented on #112
I check the document and the pinout should be consistent, however this still need to be tested.

[2016-05-29 12:10] pattacini commented on #100
Hi @randaz81

Can we close this issue here and open up a **feature request** within the ticket system of proper repository? I think it'd be a cleaner solution. You could then reference this issue from therein.

[2016-06-03 06:59] pattacini commented on #111
Hi @marcoaccame any update on this?
If the documentation is ready we could post a link to it here and close the issue.

[2016-06-06 10:13] KevinAStein opened #116 "Problems sending rpc command via code"
Hi,

I wanted to send commands to open **rpc ports** using C++.  I followed the client example from http://www.yarp.it/rpc_ports.html, but I don't manage to get the same result as when using `yarp rpc` from within a terminal.

Thanks,
Kevin

[2016-06-06 11:44] towardthesea commented on #116
Hi @KevinAStein , could you please provide more details how you did it and the response, e.g terminal snapshot. Without the detail, I am afraid that nobody can give you advice!

Regards,
Phuong

[2016-06-06 11:52] KevinAStein commented on #116
Hi,
in Terminal I use "yarp rpc /portname/rpc:i" and then send my command to the module.
Instead I want to use something like:
[code]

If I use the help command I get the same output. But using other commands it seems that the code version is not waiting for the module to finish the task and instantly responds in failure.

[2016-06-06 12:20] towardthesea commented on #116
Hi @KevinAStein ,

From the above mentioned code, I only can say that your created `client` will open an `rpc port` and then connect to the the `/app/Port:o server port`. Then, it sends a `do something` string to the `client port` and display the response from the `server`. If it is your expected result, you got it.
Actually I am afraid I cannot say more without knowing what did you do with your `

[2016-06-06 12:34] KevinAStein commented on #116
Yes, I understand what my code is supposed to do, but why is there a difference between running it manually in the command line interface or within C++? Am I missing something?

[2016-06-06 12:45] pattacini commented on #116
Hi @KevinAStein

Would you mind to post your code, both the client and the server part, using [**`Gist`**](https://gist.github.com)? This way, we'll be able to compile and run it and see what's going on.

[2016-06-06 12:50] KevinAStein commented on #116
I am trying to interact with WholeBodyDynamicsTree for the icub robot. I want to send the calibration command when initializing my module instead of doing it manually in a terminal everytime. There is only the lines posted above.

[2016-06-06 12:59] pattacini commented on #116
Then, it might be a sort of mismatch between the sent command's format (a string?) and the expected one.

In `ARE` we reset `WBD` using this [piece of code](https://github.com/robotology/icub-main/blob/master/src/modules/actionsRenderingEngine/include/iCub/MotorThread.h#L267) and it's working fine (disregard the call to `Time::delay` since it has nothing to do with the rpc comm).

However, I'm not

[2016-06-06 13:04] pattacini commented on #116
One pitfall could be also that `addString("do something")` is different from `addString("do"); addString("something")`. Don't know if this applies to your case though.

[2016-06-06 13:08] KevinAStein commented on #116
thanks, that actually solved my problem!

[2016-06-07 12:59] pattacini commented on #100
Ping @randaz81

[2016-06-07 12:59] pattacini commented on #111
Ping @marcoaccame

[2016-06-07 16:20] traversaro commented on #111
cc @fjandrad

[2016-06-07 16:21] jeljaik opened #117 "Problems with icub-live 6.0 image"
Since we were recently updating everything on iCubParis02 we noticed there was an icub-live 6.0 and decided to give it a try. The first thing we notice is that the `.iso` was no longer provided but we created it by doing: `genisoimage -o output_image.iso directory_name`. The USB key was totally formated and has one single partition. Nevertheless, when using the `icub_iso2usb.sh` script we get the

[2016-06-07 16:46] Tobias-Fischer commented on #117
Hi,
I think you follow old instructions. The new instructions are here: http://wiki.icub.org/wiki/The_Linux_on_the_pc104#Burn_the_Debian_image_version_6.x_.28latest.29

[2016-06-08 01:01] jeljaik commented on #117
Hello @Tobias-Fischer I think you're right, for some reason I was following some old instructions maybe. So, I followed those instructions and did:

- [X] Download the latest image from the above link
- [X] Take USB drive at least of 8 GB size
- [X] Format the drive with fat32 filesystem
- [X] Unzip the content of the image archive into the root of the USB drive
- [ ] **Execute the "Make bootable"

[2016-06-08 16:38] pattacini commented on #100
Issue moved to [robotology/icub-firmware #69](https://github.com/robotology/icub-firmware/issues/69) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-06-08 18:01] pattacini commented on #117
@mbrunettini might give some help too

[2016-06-08 21:25] jeljaik commented on #117
Thanks @pattacini hope Matteo gives us a hand soon :)

[2016-06-08 22:43] lschilli commented on #117
It looks like the filesystem you are working on does not support permissions because it is fat32. So you cannot chmod something on that filesystem.
The permissions you are seeing are defined by the mount options when the fat32 volume is mounted (e.g. http://askubuntu.com/questions/96923/how-do-i-change-permissions-on-a-fat32-formatted-drive)
Often the default settings already include +x, but as it

[2016-06-09 06:52] mbrunettini commented on #117
You can simply execute by
bash  makeboot.sh [options]

[2016-06-09 07:45] mbrunettini commented on #117
Instructions updated.

[2016-06-09 07:46] rlober commented on #117
@mbrunettini @lschilli @jeljaik

Thanks for the help guys! So recap. We tried `sudo sh makeboot.sh` and it did not work. This morning I tried `sudo bash makeboot.sh` per @mbrunettini  and it did work :+1:. This is odd because our shell should default to bash:

[code]
but whatever...

Anyways, I just thought I would share my experience with the script.
First I ran `makeboot` without options giving:

[2016-06-09 07:57] mbrunettini commented on #117
@rlober : I'm happy it worked. The script is a common script used by several LIVE linux (eg. Clonezilla).
As regards instructions: I prefer not to go too into details in the wiki page, otherwise It can be more misleading then now: MBR and syslinux are common linux commands, so just google them or check here:
 http://manpages.ubuntu.com/manpages/wily/man8/install-mbr.8.html
 http://manpages.ubuntu.

[2016-06-09 14:09] lschilli commented on #117
@rlober : side note concerning:

`sh` does not call your default shell (and it does not interpret `#!/path/to/interpreter`, because that is done by the kernel's program loader when a script is executed like e.g. `./script.sh`). Furthermore, the `sh` implementation can be distribution specific, e.g. in ubuntu it symlinks to `dash` and not to `bash`. That's why it makes a difference calling `sh some

[2016-06-09 14:12] rlober commented on #117
@lschilli good to know thanks for the info!

[2016-06-12 13:10] pattacini opened #118 "Benefits of GitHub based Q&A system over mailing list"
Just to give a look in retrospect, here are the main advantages we managed to gain by using GitHub as our Q&A system, as taken from https://www.godaddy.com/garage/webpro/development/cool-github-hack.
#### It's asynchronous

#### It enables arbitrary length of response

#### It’s persistent, one-to-many and public

No need for subscribing to read the threads: **everything is public** and, as such,

[2016-06-13 00:01] alecive commented on #118
It doesn't clutter everyone's inbox :smile:

[2016-06-13 11:09] pattacini opened #119 "New Yarp and iCub releases available"
Dear @robotology/all-robotology-developers

We have lately released new software binaries for **`yarp`** and **`icub-main`**. You'll find them available from the following resources:
- [**`Yarp 2.3.66`**](https://github.com/robotology/yarp/releases/tag/v2.3.66)
- [**`iCub 1.4.0`**](https://github.com/robotology/icub-main/releases/tag/v1.4.0)

Importantly, we have also introduced **new policies** f

[2016-06-13 11:22] pattacini commented on #119
cc @mbrunettini @drdanz

[2016-06-13 11:32] traversaro commented on #119
Cool innovation of this release: Windows binaries for `icub-main` and its dependencies are available for 64-bit compilers!

[2016-06-13 15:19] giodegas commented on #119
Just updated/re-built respective docker images on [dockerhub.com](http://dockerhub.com):
* giodegas/yarp
* giodegas/icube

[2016-06-14 08:38] pattacini commented on #119
Thanks @giodegas for maintaining [**Docker Hub**](https://hub.docker.com) repositories!

Just a comment on that: actually, the name of the robot is **iCub**, not **iCube** :wink:

[2016-06-14 09:48] giodegas commented on #119
Thank you @pattacini and I apologize for the typo.
All fixed!

[2016-06-14 09:50] pattacini commented on #119
Never mind! Thanks for the fix.

[2016-06-15 08:06] marcoaccame commented on #111
The description of how the ETH robot is formed is now in http://wiki.icub.org/wiki/Firmware#ETH_robots

[2016-06-15 11:00] lornat75 commented on #118
Another positive point is that now that we have routed most of the specific questions from users, we can use the mailing list for important, general public notifications.

[2016-06-15 11:52] jeljaik opened #120 "Robotology's SVN server down"
Can't access the robotology svn server

I checked online and this is what I see

![image](https://cloud.githubusercontent.com/assets/5030039/16042218/fd7d7b56-3239-11e6-8269-81de01f04e2a.png)

News on this?

[2016-06-15 13:51] mbrunettini commented on #120
We had an issue during the weekend due tp the domain migration.
But it has been confirmed to work now.
Please check again.

[2016-06-15 15:23] jeljaik commented on #120
Thanks!

[2016-06-17 10:08] drdanz commented on #118
We can easily redirect questions to the repositories they belong, or assign them to someone

[2016-06-17 10:55] pattacini commented on #118
@drdanz actually, assigning tasks is a big pro

[2016-06-17 10:56] drdanz opened #121 "Work in progress pull requests"
It's happening more and more frequently that people (myself included) open pull requests for work in progress branches, for different reasons (testing if something breaks some build, requesting early feedback, etc).
I think this is a good thing, but sometimes it is not easy to spot whether a pull request is a real one, or a work in progress.

I suggest to follow [this workflow in gitlab](http://do

[2016-06-17 10:58] drdanz commented on #118
We can also fix typos, formatting, etc

[2016-06-17 11:03] pattacini commented on #121
I fully agree.
Nice suggestion.

[2016-06-17 11:28] lornat75 commented on #121
+1

[2016-06-17 11:31] barbalberto commented on #121
We could also define WIP as a label to make it more visible

[2016-06-17 11:39] drdanz commented on #121
@barbalberto We already have a "Status: In Progress" label, we can use that, I think...

[2016-06-17 12:17] pattacini commented on #121
We could put this info in Yarp here: [**`CONTRIBUTING.md`**](https://github.com/robotology/yarp/blob/master/.github/CONTRIBUTING.md)

[2016-06-17 14:18] vtikha commented on #121
Excellent!

Sent from my phone

On 17 Jun 2016, at 13:56, Daniele E. Domenichelli <notifications@github.com<mailto:notifications@github.com>> wrote:

It's happening more and more frequently that people (myself included) open pull requests for work in progress branches, for different reasons (testing if something breaks some build, requesting early feedback, etc).
I think this is a good thing, but

[2016-06-17 15:50] randaz81 commented on #121
+1

[2016-06-24 08:17] pattacini opened #122 "IplImage* has memory leak, how to release memory ?"
@Tariq-Abuhashim commented on [Fri Jun 24 2016](https://github.com/robotology/stereo-vision/issues/12)

IplImage\* cvImageL  allocates the memory, and cvReleaseImage( &cvImageL ) is supposed to release it. Looks like it only deletes the pointer, but not the physical memory allocated.
This seems to be caused by cvLoadImage:
IplImage\* cvImageL = cvLoadImage( left_img_file_name.c_str() );

==8172==

[2016-06-24 08:20] pattacini commented on #122
Hi @Tariq-Abuhashim

`cvReleaseImage` should actually free up the memory, if I'm not mistaken.
However, I'd warmly recommend you to rely on the C++ layer of OpenCV, thus replacing the use of `*IplImage` with `Mat`.

Therefore, look up the [`imread`](http://docs.opencv.org/2.4/doc/tutorials/introduction/display_image/display_image.html) method, which should basically do what `cvLoadImage` did.

[2016-06-24 12:40] tkelestemur commented on #115
I still have the falling problem even though I change `PositionControl` to on in both `simCartesianRightArm.ini` and `simCartesianLeftArm.ini`. I am running `tutorial_cartesian_interface` [from icub-tutorials](https://github.com/robotology/icub-tutorials/blob/master/src/motorControlAdvanced/tutorial_cartesian_interface.cpp). After two second running the code iCub falls backwards.

![screenshot fro

[2016-06-24 13:28] traversaro commented on #115
By default no balancing controller is running on icub when simulated on Gazebo. To simulate the robot
as if it was fixed on a fixed base, can you try to launch  the `iCub (fixed)` model?
If that model is without hands we need to updated it, it is not a big problem.

[2016-06-24 13:51] tkelestemur commented on #115
Thank you very much @traversaro, with `iCub (fixed)` it is working now. I wonder why same code causes falling in Gazebo but not in default simulator? From your point is some kind of balancing controller running when we run `iCub_SIM`  ?

[2016-06-24 21:53] pattacini commented on #115
@tkelestemur there's no balancing in `iCub_SIM`, and be also careful because `fixed_hip` is `on` by default in `iCub_SIM`; that's why usually you don't see any fall of the iCub therein.

That being said, it would be normal any how to get different results with different simulators.

[2016-06-29 09:43] lornat75 commented on #122
it seems strange that `cvReleaseImage()` does not free all the previously allocated memory (e.g. by `cvLoadImage( )`. This would imply a huge memory leak in opencv.

BTW: the way I have found most convenient to pass a YARP Image to OpenCV is by creating a Mat object and initialize it from a IplImage pointer, i.e.:

[code]

In my understanding this is quite efficient because `image_cv` shares stora

[2016-06-29 14:37] gsaponaro commented on #122
Don't know about the leak, but just a small side comment on YARP + OpenCV. I basically use the same approach as @lornat75, with the addition of [cvarrToMat](http://docs.opencv.org/2.4/modules/core/doc/operations_on_arrays.html#cvarrtomat) to make the code portable between OpenCV 2 and 3:

        Mat image_cv;
        image_cv = cvarrToMat(static_cast<IplImage*>(image_yarp->getIplImage()));

[2016-06-29 16:41] lornat75 commented on #122
...and of course C++ style casts... I am getting old :older_man:

[2016-07-08 14:15] mbrunettini opened #123 "icub-common package upgrade problem"
We just updated the **`icub-common`** and iCub linux .deb packages to version **1.4.0-3** for **Debian 8 (jessie)**, **Ubuntu 15.10 (wily)** and **Ubuntu 16.04 (xenial)**, both 32 and 64 bit. This is only a repackaging that replaces our custom-built ipopt package with the system one.

If you have the icub repository installed on your system (and this system is one of the above), the operation `apt

[2016-07-08 14:37] mbrunettini commented on #123
The error with apt-get update is the following:
[code]

[2016-07-14 12:07] mulkkyul opened #124 "Opening a schematic file (*.sch)"
Hi all,

I have some problems with the MTB3_001 board (tactile sensor board) - (https://github.com/robotology/icub-support/issues/275), so I'm trying to get schematic of it. What I found on the svn repository is this one:
https://svn.robotology.eu/repos/iCubHardware-pub/trunk/electronics/public/MTB/Schematics/MTB3_REV1/

But I'm not able to open the schematic file (*.sch) . What kind of software s

[2016-07-14 13:19] pattacini commented on #124
@maggia80 might help in this case, I guess.

[2016-07-14 19:32] maggia80 commented on #124
There is an error in the filename, but the pdf of the schematic is in the same folder and it is the MTB3-002.pdf

[2016-07-19 07:52] mulkkyul opened #125 "Where to get icub 4.0 image?"
Hi all,

I'm trying to burn an image for our iCub (iCubDaejeon01) and I have some questions.
1. I can't find the image 4.0 in http://www.icub.org/download/pc104-images/. Where can I get it?
2. Is it okay to follow this instruction? (http://wiki.icub.org/wiki/The_Linux_on_the_pc104_oldrepo)

FYI, <i>/VERSION</i> in the current USB is

[code]

[2016-07-20 10:56] pattacini commented on #125
@mbrunettini is likely to be the one to give heads-up...

[2016-07-20 11:59] mbrunettini commented on #125
@mulkkyul : why do you need version 4.0 ? It's outdated

[2016-07-20 12:38] mulkkyul commented on #125
Hi @mbrunettini ,

I'm having a problem with booting the PC104 (https://github.com/robotology/icub-support/issues/278), so I wanted to give it a try with a fresh USB. I was kinda afraid that upgrading the iCub image can make it hard to detect our current PC104 problem. That's why I was looking for the exact same image (4.0) rather than the latest one :)

[2016-07-20 12:49] mbrunettini commented on #125
Please try the version 6 (the latest one), first.
If it doesn't work, I will find a way to provide you the ver 4.0
Please remember that :
1) reading your past issues, it seems that you have power issues, not related to the System Image
2) during power issues, you can occur in filesystem or USB memory hardware corruptions
So, please use a new USB memory (of at least 8 GB) and Let me know

[2016-07-20 12:52] mulkkyul commented on #125
Thanks! I'll try with the latest one and let you know.

[2016-07-21 01:39] mulkkyul commented on #125
Hi @mbrunettini ,
I tested with the latest one (6.0) and I still have the PC104 booting problem. As you said, it might be power issues or others. Once I solve that PC104 issue, I'll update the robot with the latest image, so image 4.0 won't be necessary. Thanks!

[2016-07-22 15:37] jeljaik opened #126 "Restoring Unstable Cluster Setup on iCubParis002"
Hello guys,

After solving many issues we had with the hardware of our two iCubs, I was trying today to setup the red ball demo, however I found the blades status quite unstable. I might need a bit of assistance on different issues that I will try to keep in this single issue. Let me start with the following problem:

When I do `ssh icub-b1` this is what I get:

[code]

After which the terminal sh

[2016-07-26 13:18] mbrunettini commented on #126
On one blade, please do the following commands:
`cat /etc/issue`
`cat /etc/rc.local`
And please post here the results

[2016-07-26 13:22] jeljaik commented on #126
Right away!

[code]

[code]

[2016-07-26 13:26] mbrunettini commented on #126
Thanks, can you please issue also
`cat /root/set-hostname-from-net.sh`

[2016-07-26 13:28] jeljaik commented on #126
[code]

[2016-07-26 13:35] mbrunettini commented on #126
It looks like a strange mix..
A script created for the Wheezy release on Debian etch (older).. really odd..
can you try to
`sudo /root/set-hostname-from-net.sh`

[2016-07-26 13:39] jeljaik commented on #126
For example on `icub-b1` I get
[code]

[2016-07-26 13:55] mbrunettini commented on #126
ok, then:
`su -
/root/set-hostname-from-net.sh`

[2016-07-26 14:04] jeljaik commented on #126
[code]

[2016-07-26 14:09] mbrunettini commented on #126
NO sudo
`su -`

[2016-07-26 14:33] jeljaik commented on #126
Oops, sorry

[code]

[2016-07-26 14:44] mbrunettini commented on #126
Please read carefully, thanks:
`su - `
`/root/set-hostname-from-net.sh`
**Usually, 2 LINES = 2 SEPARATE COMMANDS**

[2016-07-26 14:55] jeljaik commented on #126
Relax, no need for captions ;) I was having some issue using just `su`

Here you go,
[code]

[2016-07-26 14:58] KevinAStein opened #127 "Reading from wholeBodyDynamicsTree ports"
Hi,
I want to read force-torque and joint sensors from iCub to estimate ZMP and COM position and velocity using wholeBodyDynamicsTree. Since the readings are quite noisy I tend to use mean values. The results are okay reading every port approximately 50 times. This takes quite long (~200ms).

Is there a way to parallelize this? In what rate is the sensor data read and streamed?

thanks,
Kevin

@hu

[2016-07-26 15:06] apaikan commented on #127
@KevinAStein  What do you exactly mean with paralleling it?

Anyway a quick way to see the port data streaming frequency is using yarp read using `envelop` and see the time-stamp differences as follows:

[code]

[2016-07-26 15:09] traversaro commented on #127
I @KevinAStein , external forces in `wholeBodyDynamicsTree` is published on the ports every period of wholeBodyDynamicsTree, that is by default set to `10 ms`. You can modify it with the `rate` period (sorry for the misleading name, I need to fix it). However decreasing the period you would probably get the same estimates streamed for multiple times, as most of the sensors of the robot publish dat

[2016-07-27 07:41] pattacini opened #128 "Qt & Yarp + iCub failed to link on Windows 10"
@gregoire-pointeau commented on [Tue Jun 21 2016](https://github.com/robotology/yarp/issues/808)

Hello,
My installation was working on windows 10 until an automatic update last Friday (17 June).
Since I have the following problem when I launch any GUI (`yarpmanager`, `iCubGui`...)
I have the following error message:
for `yarpmanager`:

for `iCubGui`:

I reinstalled Qt, re-pull everything, and reb

[2016-07-27 10:47] pattacini commented on #128
@gregoire-pointeau @drdanz I've never experienced such a problem.

I've got a fairly different env status though:

[code]

Very different actually...

[2016-07-27 12:00] pattacini commented on #128
@gregoire-pointeau did you compile `Qt` manually or rely on the package installed alongside robotology components?

[2016-07-27 12:30] mbrunettini commented on #128
As far as I see, it was installed manually (by sources or by QT binaries, NOT our packages), we haven't QT version 5.7 in our packages..

[2016-07-27 12:34] gregoire-pointeau commented on #128
Indeed I installed by hand Qt 5.7 before.

Now I've downgraded to the one automatically installed from the packages and I have the same configuration of env than Ugo. And this ime my error is:

`This application failed to start because it could not fin or loar the Qt platform plugin "windows" in "". Reinstalling the application may fix this problem.`

I reinstalled everything several times already

[2016-07-27 12:43] vtikha commented on #128
@gregoire-pointeau this seems to be related to the failure of finding the correct dlls/plugins etc..is qt linked properly in your environmental variables?

[2016-07-27 12:44] gregoire-pointeau commented on #128
Yes I have the same env than Ugo.
my latest installation is the one from the yarp binary.

[2016-07-27 12:57] drdanz commented on #128
@gregoire-pointeau That was exactly the error I saw when CMake was in the path... please check your `PATH` variable and ensure that CMake (if it is there) is at the end.
Otherwise check if any of the folders in `PATH` contain the Qt5 dlls

[2016-07-27 14:04] gregoire-pointeau commented on #128
I have nothing related to CMAKE in my paths (neither system than user).
The console app run perfectly (yarp server for example).
Should I had it ?

[2016-07-28 10:18] jeljaik commented on #126
ping!  :bell::bow:

[2016-07-29 07:29] mbrunettini commented on #126
Cut'n'paste the following command and execute on icub-b1
`host 10.0.0.51`
and copy here the result.
Thanks

[2016-07-29 08:26] jeljaik commented on #126
Sure, thanks

[code]

[2016-07-29 08:35] mbrunettini commented on #126
Again on icub-b1:
`cat /etc/resolv.conf`
?

[2016-07-29 08:38] jeljaik commented on #126
[code]

[2016-07-29 08:46] jeljaik commented on #126
I also tried to see if he file is there, but that is what I get

[code]

[2016-07-29 08:58] pattacini commented on #127
@KevinAStein have the recommendations given above been useful for you?

[2016-07-29 08:59] KevinAStein commented on #127
thanks for your help. Using the already implemented filter made things a lot easier.

[2016-07-29 08:59] pattacini commented on #128
As side note, I usually don't put CMake in the path

[2016-07-29 09:04] mbrunettini commented on #126
on icub-srv :
`ls -la /srv/tftp`
`ls -la /srv/tftp/wheezy-x86_64`
`cat cat /srv/tftp/wheezy-x86_64/etc/issue`
`cat cat /srv/tftp/wheezy-x86_64/etc/resolv.conf`

[2016-07-29 09:08] jeljaik commented on #126
[code]

[code]

[code]

[code]

[2016-07-29 09:12] mbrunettini commented on #126
Why there is a
`wheezy-x86_64.old`
and the
`wheezy-x86_64`
has been written on 22 July?
What has been changed and why? It seems it is in a wrong state.

[2016-07-29 09:13] jeljaik commented on #126
Yes,
Unfortunately as I stated at the beginning, this is just the state in which I found the blades. Maybe @ahoarau or @rlober have some idea.

[2016-07-29 09:15] mbrunettini commented on #126
Then, please restore the system to its original state and let me know

[2016-07-29 09:17] jeljaik commented on #126
Would you be so kind to tell me what's the best way to do that please?

[2016-07-29 09:19] mbrunettini commented on #126
If I don't know what has been changed since the system has been installed, of course I am not able to do it.

[2016-07-29 09:20] jeljaik commented on #126
Ok, so, since neither do I know what was changed in the system, is there any way I can just reset the blades to "factory settings" ?

[2016-07-29 09:23] KevinAStein opened #129 "Yarp crahes when connecting to ports"
Hi,
I have a program using yarp ports as described in http://www.yarp.it/rpc_ports.html
It used to work fine since lately we started using the `devel` branch of yarp because @traversaro developed a floating base estimation that requires that branch. Now every time I try to connect to a RPC or buffered port it results in a segmentation fault. Neither `yarp rpc /portname` nor `yarp read ... /portnam

[2016-07-29 09:27] mbrunettini commented on #126
You can:

1. Try to delete the directory `wheezy-x86_64` and rename `wheezy-x86_64.old' to `wheezy-x86_64`. And hope it works (of course we cannot be sure if other things has been changed)
2. write a clean version of wheezy-x86_64 (we can provide it, but it's 6 GB). this is not resolutive, too
3. reinstall the whole icub-srv from the vmware image (120 GB)

[2016-07-29 09:29] jeljaik commented on #126
Thanks @mbrunettini I will analyse these options and get back to you.

Thanks for your time.

[2016-07-29 09:37] traversaro commented on #129
There have been recently some fixes related to memory access in the `devel` branch, are you using the latest commit in the `devel` branch?

[2016-07-29 09:39] traversaro commented on #129
By the description of the problem, it could be something related to having two different version of YARP in the system. Can you check that you have (for example) a unique `libYARP_sig.so` (or at a maximum two, one for the `build` folder and one for the install folder)?

[2016-07-29 09:44] pattacini commented on #129
This is a yarp related issue. Moving to yarp repository

[2016-07-29 09:44] pattacini commented on #129
Issue moved to [robotology/yarp #836](https://github.com/robotology/yarp/issues/836) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-31 13:22] lornat75 opened #130 "On my high-res screen some yarp guis are not displayed correctly"
A workaround can be found in: https://github.com/robotology/yarp/issues/837

We are working towards a proper fix.

[2016-07-31 18:55] lornat75 commented on #130
Commit https://github.com/lornat75/yarp/commit/332a241949e0f917d218f578e84607ae7b78ddcc fixes the problem.

[2016-08-02 12:15] lornat75 commented on #128
I had the same issue, in the end due to CMake being in the path (btw: it is useful to have CMake in the path for command line usage :racehorse: ). However the problem happens if you have mismatching versions of qt libraries in the path, one way to find out is to wipe your path and add to it incrementally.

[2016-08-02 12:22] lornat75 commented on #128
As @drdanz suggested, check if you don't have conflicting versions of qt5 dlls in your path. One way to do is to wipe your path and incrementally add to it.

[2016-08-02 12:37] lornat75 commented on #126
Hi @jeljaik,
looking at the solutions suggested by Matteo looks like they are in order of complexity. I would try 1), then 2) then 3). Please let us know how things go we can help in the steps.

[2016-08-02 12:42] drdanz commented on #128
@gregoire-pointeau There are 2 parts of the `PATH` environment variable, one is the system path, and one is the user path, I'm not sure In which order they are used, but if you have qt path on one path and cmake path in the other, cmake might be considered before even if it is the last one in its string.

[2016-08-02 12:45] drdanz commented on #128
Also search "rapid environment editor" for a very useful tool to use instead of the defaul editor for environment variables

[2016-08-02 13:25] jeljaik commented on #126
Thanks @lornat75 for the suggestion.
So far I have tried option 1 and rebooted `icub-src` but then I can’t `ssh icub-bx` getting the following message:

[code]

[2016-08-02 14:20] lornat75 commented on #126
Assuming the backup copy of `wheezy-x86_64` (`wheezy-x86_64.old`) was taken before changing the system, I fear solution 2) would not do much different. Let's see if @mbrunettini has some suggestions on  how to fix the problem you have with ssh.

[2016-08-02 14:34] jeljaik commented on #126
@lornat75 True, I'll wait for his reply.

[2016-08-02 14:36] mbrunettini commented on #126
`ssh_exchange_identification: Connection closed by remote host`
I must say that I've never seen this error before.
The netboot system (at least, we have to check the whole icub-srv later) seems to be really compromised: I suggest to delete and recreate it starting from our images.
We can provide a working version of
`/srv/tftp/wheezy-x86_64 `
to replace the failing one. It is a compressed file of

[2016-08-02 14:37] jeljaik commented on #126
@mbrunettini I can try the new image, yes. I'll be waiting for the link. Thank you so much.

[2016-08-02 14:50] mbrunettini commented on #126
I'm uploading the image to the cloud. It's a .tar.gz of 3.1GB (I removed not used stuff).
I will post the link here when it's available
Once you have downloaded it, please:

1.  switch off the 3 blades
2.  check on icub-srv if there is enough space on /srv/tftp to keep the two old versions of
`/srv/tftp/wheezy-x86_64` (at least 10 GB will be necessary)
3.  rename the two old version of
`/srv/tftp/

[2016-08-02 14:51] jeljaik commented on #126
I will do @mbrunettini thanks!

[2016-08-02 15:20] mbrunettini commented on #126
You can download it here:
https://istitutoitalianotecnologia-my.sharepoint.com/personal/matteo_brunettini_iit_it/_layouts/15/guestaccess.aspx?guestaccesstoken=iPdeNt3TVUszkR%2bhB18wve8vA6Htw7s%2fwV19eP9AEj4%3d&docid=0ae02626af7a34598b60509bc54adfa02&rev=1
Let us know

[2016-08-02 17:03] jeljaik commented on #126
Alright, so a few things have changed! which I guess is something good.

I followed the steps you listed above and after rebooting `icub-srv` and the blades, when I `ssh` into any of them I notice the following things:

1. The password is changed to `icubAdmin` (ours was `icub` for all of them) which I assume is the default and a normal behaviour.

2. Regardless of where I `ssh` they all say `icub

[2016-08-03 06:23] mbrunettini commented on #126
Good! Well, not perfect, but a big step further.
Please do the following checks:

- [ ] `ip addr`
- [ ] `nslookup icub-b1`
- [ ] `mount`

Thanks

[2016-08-03 07:40] jeljaik commented on #126
Always on `icub-b1` (hoping I assumed correctly :sweat_smile:)

[code]

[code]

[code]

[2016-08-03 07:52] mbrunettini commented on #126
Everithing seems ok.
To fix the hostname issue, on icub-b1 you have to modify the following file
`/root/set-hostname-from-net.sh`
as follows: on line 27 change from
`get_hostname_from_dns`
to
`get_hostname_from_dns eth0`
the reboot the 3 blades.

[2016-08-03 12:39] jeljaik commented on #126
Perfetto!
I can now `ssh` into each one of them and see the proper host names. Overall, the cluster seems "stable" now.  I will proceed upgrading source codes and so on. Should I have any additional problem I will open a different issue. Maybe this one can be renamed to the  main problem that was tackled ... **Restoring Unstable Cluster Setup** (?)
Thanks for your patience.

[2016-08-03 13:49] mbrunettini commented on #126
Issue renamed as requested.
@jeljaik ,please remember to change the icub password on the blades (changing on one will also replicate on the others) to the original one.
Can we close this issue?

[2016-08-03 16:51] jeljaik commented on #126
Sure I will change it.
Thanks. Closing!

[2016-08-10 16:06] DermyO opened #131 "Handling of compliance while using goToPose"
Hello!

In my program I need the robot to be compliant, except for one given moment. At this special time instant, the robot has to go back to a specified initial position.

To put the robot in compliant mode, I use the following code for each joints:

[code]

Then, to drive the robot back to the "home position", I use the code:

[code]

After that, I use again the following code to put the robot

[2016-08-10 18:14] pattacini commented on #131
Hi @misaki43

I'm afraid there's a bit of confusion between `torque` and `compliant-mode`: the former is one of the available **control mode**, whereas the latter is one of the two allowed **interaction mode**.

While `position-direct` and `torque` take a mutually exclusive control of the joints realizing two utterly different tasks, `position-direct` can be used either in `stiff` or `compliant` m

[2016-08-11 09:24] misaki43 commented on #131
Hello, and thanks to help me again!
Your table is clear. I understand the global idea but some details are not totally clear for me:
1. How is define the virtual "spring stiffness and damping" when we are in "Position-Direct" and "compliant mode"? Is it thanks to the `setImpedance` function?
2. If I want the robot to follow my movement, I think about this code:
`client.getPose(x,o);
client.goToPos

[2016-08-11 14:00] pattacini commented on #131
Hi @misaki43

I'll try to answer your questions below.

1. From an excerpt of the (old by now) manual, we have:

The control is implemented in the DSP firmware as follows:
  ![pid_imp](https://cloud.githubusercontent.com/assets/3738070/17590180/f70c6da0-5fd8-11e6-96a0-47b2d1845645.jpg)

  The stiffness and damping values of the virtual spring can be modified by means of the `setImpedance`  method

[2016-08-11 15:42] misaki43 commented on #131
1. Ok thanks for this explanation. Then, when you call "goToPose", the computation of all the required "qd" are computed and then, the control is done with this same formula, right?

2. I think that what I want to do is not clear, so here is the explanation. The robot has no predefined trajectory to follow. The robot has to be totally compliant and it has to follow the partner's guidance on the ar

[2016-08-11 15:58] pattacini commented on #131
1. Yep
2. Then, you definitely need `zero-g` for your task, which is realized by means of pure `torque` control, as per the table above. I didn't really understand what your goal was in fact. Dump off **IM**, Cartesian control and take a look at force-control related demos available from within [**`icub-basic-demos`**](https://github.com/robotology/icub-basic-demos).
3. Would you mind posting on [

[2016-08-12 11:28] dogoepp commented on #131
I'm also curious about this topic. If I understand correctly Oriane, she would like that one can do some sort of teaching by demonstration by moving iCub's arm. My guess is that for such a use case one would want the arm's actuator to apply only the torque necessary to compensate for the gravity (and coriolis force ?).
I guess that we can compare it to the way humans would behave in such a case. I

[2016-08-12 14:48] misaki43 commented on #131
Hi @pattacini

2. Ok so in this force control demo uses what I need :
[code]
In that case, the arm robot move as I want (is it what you call zero-g?).
I cannot dump of the Cartesian control as you suggest because I need it to record the trajectory (getPose). But It is not a problem since it doesn't perturb the torque control mode.
Moreover, when I will have to play back the trajectories, I will pl

[2016-08-12 16:45] pattacini commented on #131
@dogoepp
yep, exactly, you'd need a couple of basic components that lets iCub compensate for internal dynamics and gravity (aka `wholeBodyDynamics` and `gravityCompensator`). Examine our `icub-basic-demos` to find more on this.

@misaki43
I didn't realize that @misaki43 was you, Oriane :smile:
Glad to know you found the demos useful. I've just put the link in the tutorial page as you suggested: se

[2016-08-12 16:46] pattacini commented on #131
@misaki43 actually, it'd help if you put your name in the GitHub profile :wink:

[2016-08-16 13:08] gregoire-pointeau commented on #128
@drdanz REE helped me a lot thanks.

I've removed Cmake completely from my path, and keep Qt of course.

But now I have a different behavior. When I launch the release of `yarplogger` I get: `This application failed to stat because it could not find or load the Qt platform plugin "windows" in "".`

But if I compile in debug, and launch the `yarplogger-qt` in debug, everything works perfectly.

[2016-08-16 13:34] drdanz commented on #128
@gregoire-pointeau I've never seen this error, sorry... Anyway, doing a quick search on google returned many results, see for example if one of these can help:

* http://stackoverflow.com/questions/20495620/qt-5-1-1-application-failed-to-start-because-platform-plugin-windows-is-missi
* http://stackoverflow.com/questions/16773789/qt5-static-build-yields-failed-to-load-platform-plugin-windows/172711

[2016-08-16 14:30] pattacini commented on #131
@misaki43

Find on **Gist** a few [comments](https://gist.github.com/misaki43/5014f5076118ab134cc8c9ad89c3ea17#gistcomment-1850631) of mine.

[2016-08-22 13:20] pattacini opened #132 "Formatting newlines in rpc responses"
@gregoire-pointeau commented on [Mon Aug 22 2016](https://github.com/robotology/yarp/issues/882)

Hi,
I have a silly "useless" question: it is possible to display the formating of a response through an RPC correctly?
Let me explain. I have a module A with different functions inside and a `rpc` port let's say: `/A/rpc`
I open a terminal and connect it to `/A/rpc` and I send a command expecting an a

[2016-08-22 16:21] misaki43 commented on #131
@pattacini
Hello, I regret I have choose this name, sorry!
I will look at ARE soon, but I have already read your comments, and answered them, thanks!

[2016-08-22 18:57] pattacini commented on #131
Never mind @misaki43
I've just added further comments to your gist.

I think we can close this issue by now, because we made somehow clear a bunch of control aspects you were inquiring. Though, feel free to open new tickets for any other matter, of course.

[2016-08-24 09:29] Anouk92 opened #133 "Unhandled exception running cartesian-interface code"
When I try to run this [_castesian-interface code_](https://github.com/lornat75/Teaching/tree/master/code/cartesian-interface) for the icub simulation that is provided from within the [**Teaching**](https://github.com/lornat75/Teaching) repository on GitHub, I get the following exception:

[code]

The program breaks in the code on the following line: [`if (!client.open(option))`](https://github.co

[2016-08-24 13:41] pattacini commented on #133
Hi @Anouk92 and welcome on board :smile:

I've just tried out that code on my `Windows 10` with `Visual Studio 2013` and `yarp/devel` + `iCub/master` compiled at `32 bit` from sources. No problems spotted. The only significant difference I see is then that you used `yarp` and `iCub` pre-compiled binaries.

The exception you got indicates that there's a **memory safety violation**, which is in turn

[2016-08-25 08:17] Anouk92 commented on #133
Thank you for your response!
I've tried several other tutorials, also the one you showed, and most of them seem to work. However, when trying the run the gaze-interface tutorial, I found that I could run the 'mover' project fine but the 'tracker' object gave the same exception:

"Unhandled exception at 0x016731CA (msvcr120d.dll) in tracker.exe: 0xC0000005: Access violation reading location 0xBA006

[2016-08-25 11:06] pattacini commented on #133
I and @Anouk92 had a debug stint, finding that the run-time failure is caused by a mismatch between the user code compiled in `Debug` and the `yarp` + `iCub` binaries shipped in `Release` (most likely). In fact, the same tutorial compiled in `Release` runs just fine.

@mbrunettini @drdanz
Are these considerations correct? Are the pre-compiled binaries for Windows actually distributed in `Release`?

[2016-08-25 11:36] pattacini commented on #128
Any progress on this?

[2016-08-25 11:39] gregoire-pointeau commented on #128
Well, things are that I don't (and can't for a long term period) add some stuff in the `iCub` and `yarp` code. So for know, the application that need Qt (the GUI) I launch the debug exe, and it works.
It's only on an external computer not linked to the robot.

[2016-08-25 11:52] gregoire-pointeau commented on #128
Some solutions needs to change some call to lib in the cmake or in the projects, but I don't want to start writing in the cmake of yarp or icub.
Thansk anyway.

[2016-08-25 12:08] marcoaccame opened #134 "Updated documentation for FW update of ETH robots"
Hi all,
I have just updated the instructions for performing FW update on the ETH robots.

The new instructions can be found in the howto files inside folder https://github.com/robotology/icub-firmware-build/tree/master/ETH.

The files are now also linked by http://wiki.icub.org/wiki/Firmware#ETH_robots.

[2016-08-25 18:54] pattacini commented on #133
Issue moved to [robotology/icub-packaging #4](https://github.com/robotology/icub-packaging/issues/4) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-31 11:43] marcoaccame opened #135 "How to update your ETH robot at date of 31 Aug 2016"
Today, the PR https://github.com/robotology/icub-main/pull/365 has been merged into master.

The new features available with this commit need new FW of ETH boards (EMS/MC4PLUS/MC2PLUS) and of 2FOC boards.

Hence, since some days (following the commit in https://github.com/robotology/icub-main/commit/bc2f4f44ce7fec7b33a436133da1b8543bea3578), the user who tries to update his/her ETH robot with a ne

[2016-09-06 11:44] gsaponaro opened #136 "Questions about Debian image 6.0 for pc104"
Since we haven't changed the Debian image or the USB pen on iCubLisboa01 in ages (it's a CAN robot), and since lately we experienced some problems when shutting down the robot and the PC104 (which might or might not be related to the USB pen or OS, still investigating, I'll open another issue on that), we decided that it would be a good idea to install the new Debian image in any case.

We are fol

[2016-09-06 11:56] mbrunettini commented on #136
1) Fat32 - first the booting system we uses has been tested only on FAT32, then it's not the root filesystem: It is only the system were the system image resides. Why do you want to try a live system with EXT4?
2) it seems OK
3) the system is a live, but with persistency: this means that all the modification to the original filesystem will be stored in a persistency file and the not lost after a r

[2016-09-06 12:24] mbrunettini commented on #136
Going deeper into details:
1) the root filesystem is aufs
2) the persistency file is ext4
3) in theory, it can be possible to format the USB with other FS, but there will be no practical changes (the above will stay the same) apart making the system harder to boot (and running on a not tested configuration)

This replies to your questions?

[2016-09-06 12:29] gsaponaro commented on #136
Thanks for the informative replies. Regarding the filesystem type, I am now re-starting the whole procedure with FAT32, just to follow the manual 100%.

I understand the concept of live system with persistence, but something more basic is still escaping me. I am selecting the first boot option "Live (rt-amd64)" (in my first screenshot) and as a result I enter the basic system of my second screensh

[2016-09-06 13:23] mbrunettini commented on #136
Please avoid to use the same live system on two different machines : the live system creates a new  network interface each new ethrnet hardware it founds (it's not our design, it' the debian live system). So you'll have eth0 and eth1 on the first machine (the workstation, in your case) and eth2 and eth3 on the secnd (the PC104). then networking won't work on PC104. (this can be solved by cleaning

[2016-09-06 14:18] gsaponaro commented on #136
OK for the network interfaces and the caveat to not use the live system on different machines. However, for now I would still like to try using & configuring the USB pen live system from the workstation first, and after solving my current problem cleaning ```/etc/udev/rules.d/70-persistent-net.rules``` as you suggest. (If that doesn't work, I'll ask our technician to plug a monitor to the PC104.)

[2016-09-06 14:22] mbrunettini commented on #136
The following prompt:
icub@pc104:~$ la -la
States clearly that you are inside the home of the icub user (**~**)
And moreover the file .bashrc_iCub is places only in the iCub home.

As for the /etc/rc.local is normal if the pc104 is unable to contact icub-server (10.0.0.1)

[2016-09-06 14:24] gsaponaro commented on #136
D'oh! Basic mistake, sorry. :) OK, will try again and update.

[2016-09-06 15:24] gsaponaro commented on #136
Running the live system on the workstation, I have successfully customized the system to our needs (replacing 10.0.0.1 with our own server IP or hostname): ```/etc/network/interfaces```, ```/etc/hosts```, ```/etc/rciCub.d/mounts.list```, ```/etc/rciCub.d/S90_mount-remote-fs.sh```, ```/etc/resolv.conf```.

Just one networking-related question left to close the issue: in order to clean ```/etc/udev/

[2016-09-06 15:30] barbalberto commented on #136
after you log into the pc104 for the first time, you have to set the new address of the yarpserver with:

yarp conf <ip_address_of_the_server>  10000

[2016-09-06 18:57] gsaponaro commented on #136
Thanks for the prompt help, @mbrunettini. Looks like we'll have to connect a VGA cable to the PC104, which will take some time. Marking as solved for now, will reopen if necessary.

[2016-09-07 06:18] mbrunettini commented on #136
You can delete or comment the last two rows in
<pre>
/etc/udev/rules.d/70-persistent-net.rules
</pre>
Good, let us know

[2016-09-09 09:27] vicentepedro opened #137 "Differences between "my" URDF model and DH parameters in iKin"
Hi Everyone!

I noticed a difference in the URDF model that I'm using and the kinematic chain defined in iKin.
I inserted the right arm and torso joints at zero position (changing the limits in the iKin library) and there is an error around 0.8 cm and 15 degrees in the roto-translation matrix (torso to end-effector) .

I saw this [repo](https://github.com/robotology-playground/icub-model-generator

[2016-09-09 09:34] traversaro commented on #137
Hi @vicentepedro ,
   which iCub URDF model you are using? Where does it come from?
  Thanks,
             Silvio

[2016-09-09 09:48] vicentepedro commented on #137
Hi @traversaro

I'm using a model made a couple of years ago here in Lisbon based on the CAD of the robot, I suppose.
You can find it [here](https://github.com/vislab-tecnico-lisboa/icub-moveit/tree/master/icub_description).

Thanks

[2016-09-09 10:07] pattacini commented on #137
Hi @vicentepedro

First off, I would do a consistency check against our URDF models of iCub available in [**`icub-gazebo`**](https://github.com/robotology/icub-gazebo).

@traversaro please correct me if I'm wrong.

[2016-09-09 10:20] matejhof commented on #137
btw., @pattacini , (how) does `iKin` handle V1 / V2 / V2.5 robots?

[2016-09-09 10:24] pattacini commented on #137
@matejhof look at the limbs' constructions (e.g. [`iCubArm`](http://wiki.icub.org/iCub/main/dox/html/classiCub_1_1iKin_1_1iCubArm.html#ab6f2d2bd4a7ef453110a3555158d6799))

[2016-09-09 10:40] vicentepedro commented on #137
Hi @pattacini
I will try to do the same test with a model in icub-gazebo repo, however, I don't know which model should be tested according to our iCub version - arms V.1 and Head V.2.

[2016-09-09 10:49] pattacini commented on #137
Good point @vicentepedro
I'm not into the _Gazebo_ story and don't know if the versions you're inquiring are there. Perhaps @traversaro can shed a light on this.

Anyway, if the `arms v1.0` are not provided, we could think of creating the corresponding URDF models. It should be fairly simple to get the differences from `iKin` and use them to generate new files.

[2016-09-09 15:00] traversaro commented on #137
I am afraid that the answers to this may be lost in time, but you know by any chance on which CAD Assembly the URDF from Lisboa is based on?
At the moment, that URDF is the only model of the hands that we have, and so I would be curious of understanding if it was based on the assembly with v1 arms or with v2 arms.

Beside this, consider that URDF link frames needs to be different from the DH frame

[2016-09-09 15:06] traversaro commented on #137
To answer @pattacini 's question: the `icub-gazebo` repository contains only `SDF` files, that is the format fully supported by Gazebo.
I originally generated those file for an iCub with v1 arms and v2 head/legs, but since when I generated those file there has been multiple manual modification of the model (for example for adding eyes and hands, with the hands taken from the URDF model that @vicen

[2016-09-09 15:53] vicentepedro commented on #137
Hi @traversaro

I'm not sure about the CAD Assembly used in the URDF model generation. I will try to confirm it with a former student here at Lisbon and let you know ;)
However, I would bet in the V.1 since it is the arm's version here....

"Our" legs are V1, also. ;)

Thanks in advance for the new model.

[2016-09-09 18:16] traversaro commented on #137
The newly generated `iCubLisboa01` has been committed to https://github.com/robotology-playground/icub-model-generator/commit/e3b35c515acd31a1b31119a0dd3f4dcad8a0a82a .

Disclaimer: the model does not include hands or eyes, and at this moment is generated from the `iDyn` models, so any inconsistency between `iDyn` and `iKin` models would be reflected on the URDF generated model. Let me know if thi

[2016-09-09 18:18] traversaro commented on #137
For reference: the iKin Torso + Arm chain should match the transform between the `root_link` <---> `r_hand_dh_frame` in the URDF file.
Note to self: this check could be also inserted in the tests that we run on every model generated by the `icub-model-generator` in https://github.com/robotology-playground/icub-model-generator/blob/master/tests/icub-model-test.cpp .

[2016-09-10 11:18] vicentepedro commented on #137
Thanks again @traversaro
The roto-translation is now correct ;) I will close the issue.

Do you plan to include hands and eyes in the model in a near future?

[2016-09-10 12:57] traversaro commented on #137
Including hands and eyes is something that I would want to have in the generator, but unfortunately I don't think we are able to implement it in the near future.
To keep track of any update, please subscribe to this issue https://github.com/robotology-playground/icub-model-generator/issues/29 .

[2016-09-12 05:53] kt10aan opened #138 "yarpdataplayer - variable sample rate data playing too fast"
I have 2 sets of data recorded by `yarpdatadumper` (so, from two YARP ports).
One of them is from `/icub/head/state:o`. The other one comes from an Oculus Rift and contains just x,y,z orientation data. Both datasets were recorded using both `Tx` and `Rx` timestamps.

Both data sets are supposed to be ~30 seconds long.

I need to replay these datasets through `yarpdataplayer`. Upon playing them wit

[2016-09-12 06:32] pattacini commented on #21
An **importat** update on this.

Since https://github.com/robotology/yarp/pull/892 has been merged, **`libedit-dev`** has replaced `readline` to allow for commands auto-completion, the former package being `LGPL` compatible.

@drdanz may want to add more on this?

Is the documentation up-to-date?

[2016-09-12 07:23] vtikha commented on #138
@kt10aan thanks for the post and the datasets, will have a look at it asap and get back to you.

[2016-09-13 10:22] vtikha commented on #138
@kt10aan I have made modifications to the `yarpdatasetplayer` that now follows the exact length and synchronisation stored within the acquisition logs. I also added a `time taken` column that accounts for the elapsed time. I tried it on your dataset and all seems fine.

[2016-09-13 13:43] gsaponaro opened #139 "Acquiring left and right images in a synchronized way"
Hi @ale-git, is there any way to acquire the two iCub camera images (at 640x480@30fps, RGB) in a synchronized way?

This would be useful for stereo vision, e.g., for @nmoutinho's online stereo calibration system (ICDL-EpiRob 2014 paper "Markerless Online Stereo Calibration for a Humanoid Robot"), whose current implementation at the moment is bypassing YARP, reading directly from the cameras' vendo

[2016-09-13 14:21] ale-git commented on #139
Hi, as said by the datasheet, the two images are already synchronized by default because the two cameras belong to the same Firewire bus.
Cheers, Ale

[2016-09-13 16:20] matejhof opened #140 "using cartesianInterfaceControl"
With iKinCartesianSolvers running, following the info [here](http://wiki.icub.org/brain/group__cartesianInterfaceControl.html), I'm doing the following:
`cartesianInterfaceControl --part left_arm --onlyXYZ`
and from another terminal:
`yarp write ... /armCtrl/left_arm/xd:i`
`> (-0.18 -0.1 0.1 1.0 0.0 0.0 0.0)`
(I tried with and without brackets)
But there is no response.
Can someone, most likely @p

[2016-09-13 16:42] gsaponaro commented on #139
OK. I wrote [this small program](https://github.com/gsaponaro/tools/tree/master/checkCameraSynch) which basically does the following:
[code]

Then, we did the following tests:

1)
On the PC104 we launch two ```yarpdev``` Dragonfly2 drivers (Bayer carrier, 640x480@30fps, correctly configured). We don't launch any ```camCalib```, ```yarpview```, ```frameGrabberGui2``` to make sure that we don't over

[2016-09-13 16:57] pattacini commented on #140
@matejhof just tested on my system against `icubSim` and it's perfectly working.
Double check that all the required resources are running fine on the robot / your system.

If you launch the module with `--onlyXYZ`, then you'd need only 3 doubles (without brackets).

[2016-09-13 17:13] lschilli commented on #139
- I always heard that it is not really possible to grab the iCub cameras fully synchronized. But maybe I am wrong / the info is outdated.

Just two suggestions:
- Why not disabling the debayering transport for testing the timestamps but just display/check the bayer image directly. This excludes the debayering code as source of the error.
- I would trace down the timestamps to their origin (i.e. th

[2016-09-13 17:30] pattacini commented on #139
Hi @gsaponaro

Just a couple of comments to add to the discussion.

I don't know why with `Bayer` there are no time stamps available in the message. Is it expected or a bug? Perhaps @ale-git can give an hint here.

Regarding `UDP` vs. `TCP`, ideally you should always go with `UDP` given the fact that cameras are streamed with a specified rate and if you lose a packet it's generally better to wait

[2016-09-13 17:58] lschilli commented on #139
@pattacini I was not implying that images will magically arrive synchronized over network. Anyway, thanks for highlighting that point.

About the bandwidth issue I always used one camcalib module per vision machine, so the network only needs to handle the Bayer images and not send debayered images over network. If CPU load due to debayering is an issue (good debayering can take some, and additiona

[2016-09-13 18:46] gsaponaro commented on #139
Thanks for all the valid points! For us it would be enough to have a reasonably low delay < 33 ms, at this stage we're not interested in the splitting hair part. :)

@lschilli:
_Also what about the "stamp" option or potential other timestamp related options in the dragonfly2_config_*.ini files? _Are there any differences between your dragonfly2 vs. dragonfly2raw configurations?_
We do use the ```s

[2016-09-14 05:17] kt10aan commented on #138
thanks for the quick fix @vtikha. I ran the updated yarpdataplayer and I still have some issues:

- Starting the ``yarpdataplayer`` i get in the console:
[code]
which is correct, as I mentioned that the two datasets are 30secs long.

However, when running the dataset, both of them last for approximately 28seconds (according to the ``Time Taken`` column).
Is it an issue of wrongly calculating the `

[2016-09-14 06:29] pattacini commented on #138
@kt10aan just a quick comment.

Your dataset contains both `tx` and `rx` time stamps in the two streams, where the former stamps are lagged of ~`3.84 s` each other, whereas the latter are in sync. I think `tx` stamps are selected by default, but you can choose them by means of `--withExtraTimeCol` command line option. Hence, can you do the test again with `--withExtraTimeCol 2`?

[2016-09-14 06:40] pattacini commented on #138
More on this.

I've performed the following test:
- Replayed the dataset with `--withExtraTimeCol 2`
- Attached a `yarpdatadumper` to `/icub/head/state:o`

The outcome is that on the dumped data the timing is retained, that is the acquisition lasted `30 s`, while on the GUI the `time taken` column actually showed a different overall lapse.

[2016-09-14 06:41] pattacini commented on #138
@kt10aan can you confirm this?

[2016-09-14 06:58] vtikha commented on #138
@kt10aan they start a few seconds after but this is how your dataset had been recorded. @pattacini is right, you have to select the correct timestamp. Thanks @pattacini for the quick `yarpdatadumper` test: after chatting with him, the replay is actually correct, time wise and data wise, but I must have done something not quite right with the `time taken` display, it is probably a mis-synchronisati

[2016-09-14 07:46] kt10aan commented on #138
I replayed the datasets with ``--withExtraTimeCol 2`` and attached a ``yarpdatadumper`` to ``/icub/head/state:o``.
Indeed, the datasets are now being replayed in a synchronous manner, and the timing on the dumped data is retained (``30 s``).

So I assume that the ``Tx`` column is not selected by default.

Thanks @pattacini, @vtikha for your help!

[2016-09-14 07:46] pattacini commented on #139
With `UDP` you've experienced a delay of ~ `16 ms` with `camCalib`, `yarpview`... running as well. I don't know whether this is satisfactory for you, given that you didn't mention the packet loss percentage.

By the way: `640*480*24 / (1/30) * 2 bps` ~ `440 Mbps`, that is two uncompressed flows already amount roughly to half of the available bandwidth. If you add up other flows - as entailed by th

[2016-09-14 07:49] pattacini commented on #139
@gsaponaro
Actually the tests can be carried out with `Bayer` in the meantime using `yarpdatadumper`.

[2016-09-14 07:49] barbalberto commented on #139
The other option we were thinking about some time ago was to have a single device grabbing both images from firewire on the pc104 and sending them together in a single port. The same shall be done for the usbcamera, kinect-like devices etc...

After some evaluation this option presented some disadvantage, like:
- A single streaming of both cameras fused together will not be compatible with a lot o

[2016-09-14 07:56] pattacini commented on #138
@kt10aan 👍

The data are always played in sync. Simply, according to `tx` time stamps, one of the two acquisition started afterwards, or most likely, the two clock sources were not in sync.

[2016-09-14 08:03] pattacini commented on #139
@barbalberto having this kind of resync daemon running on the client would be beneficial in different circumstances. 👍

My only concern is that it would be mostly of help in conditions where the network gets somewhat overloaded, that is exactly when introducing further latency (due to the resync) might make things even worse.

[2016-09-14 08:13] barbalberto commented on #139
Yes, efficency will be a must, I haven't tackled the implementation yet.

The uses case I was thinking originally was not related too much with network overload, but when the streams comes from different sources, like:
- depth only sensor (like http://structure.io/uses) + rgb only sensor
- rgb camera and a software computed depth (disparity or other)

In those cases I thought some synch will be re

[2016-09-14 08:50] pattacini commented on #140
Should work also with more than 3 doubles in `--onlyXYZ`; see https://github.com/robotology/icub-main/blob/master/src/modules/cartesianInterfaceControl/main.cpp#L276.

[2016-09-14 12:31] ale-git commented on #139
@gsaponaro by using **use_network_time 1** you're forcing the driver to use the system time in the envelope, while using **use_network_time 0** the timestamp is taken from the Firewire hardware clock (when use_network_time is omitted, the system time is used as in the first case). Usually you want to use the netowrk time because the Firewire camera stamp, though precise, gives no information able

[2016-09-19 12:12] pattacini commented on #139
@gsaponaro to speed up things, would you be willing to test whether the quick modification @ale-git proposed to fix the typo (reported above in the reference) will actually sort out the problem?

[2016-09-19 12:18] gsaponaro commented on #139
Sure, will do that soon and report here.

[2016-09-19 16:20] ale-git commented on #139
Hi @gsaponaro the timestamp field is not a pointer, thus the code should be:

uint32_t v = ntohl((uint32_t)m_pFrame->timestamp);

[2016-09-19 16:42] gsaponaro commented on #139
Thanks. Now the device with hardware time runs, but still no timestamp with Bayer carrier.

[2016-09-20 07:21] lornat75 commented on #139
Some info that may be useful. With @apaikan we have done tests on cameras synchronization. If I remember correctly these were the resuts:
- The two cameras do get synchronized
- The time at which they are acquired tend to drift with time. To prevent this drift the two framegrabbers should run on the same core, this can be set using process affinity. Another solution could be to acquire the two fra

[2016-09-20 10:49] lornat75 commented on #139
Concerning timestams, I think we ran into a similar problem with the mjpeg carrier (cc @randaz81).

[2016-09-20 12:34] gsaponaro commented on #139
Thanks for all the information, I am closing this issue. We conducted further tests with @plinioMoreno, summary:

- using the UDP carrier with two 640x480@30fps streams we get acceptable synchronization between cameras (3-10 msec difference between them), also when we add ```camCalib``` and we use the rectified images - good for our needs :)
- I opened a separate issue about the Bayer carrier not

[2016-09-20 12:50] pattacini commented on #139
Thanks @gsaponaro

[2016-09-21 13:38] plinioMoreno opened #141 "Sending compressed image through the network"
In the case you are in a network where the only way you can communicate to the robot is wi-fi, is there a way to send compressed images in YARP (in the case of ROS is the [compressed image transport plugin](http://wiki.ros.org/compressed_image_transport)) in a port?

A compressed protocol would useful to visualize the images while keeping the low bandwitdth constraint of wi-fi.

[2016-09-21 14:09] randaz81 commented on #141
hi, you can check the yarp mjpeg carrier

[2016-09-22 13:31] plinioMoreno commented on #141
Thanks @randaz81, I'll try out that and let you know.

[2016-09-22 13:49] plinioMoreno opened #142 "Cartesian controller server configuration for Vizzy"
Vizzy's [cartesian controller server code](https://github.com/vislab-tecnico-lisboa/vizzy/blob/master/vizzy_yarp_icub/src/modules/vizzyCartesianControllerServer/main.cpp), is configured with [this file](https://github.com/vislab-tecnico-lisboa/vizzy/blob/master/vizzy_yarp_icub/app/vizzyCartesianControllerServer/server_left_arm.ini).

I want to know if the code is still valid (it is pretty old in f

[2016-09-22 17:55] pattacini opened #143 "New Repository hosting robots configuration files"
Hi @robotology/all-robotology-developers

Please, take note of this important announcement.

Following up discussion in https://github.com/robotology/icub-main/issues/360, we have made available a new repository in our ecosystem hosting **robots configuration files**. You'll find it here: [**`robots-configuration`**](https://github.com/robotology/robots-configuration).

As a result, since https://

[2016-09-22 18:17] pattacini commented on #143
Quick note for @valegagge @randaz81 @ale-git, who are the authors of the following branches in `icub-main`:

![capture](https://cloud.githubusercontent.com/assets/3738070/18760489/92862552-8101-11e6-9285-e2f71a03039f.jpg)

Please, remember to **rebase those branches on top of `devel`** in order not to reinstate robots related stuff we've just got shot of 😉

[2016-09-22 18:33] pattacini commented on #143
cc @robotology/icub-support-team

[2016-09-22 18:56] pattacini opened #144 "How to compile mjpeg carrier on Windows"
To enable the compilation of **mjpeg carrier** in `yarp` on Windows, you need to:
1. Install **https://sourceforge.net/projects/libjpeg-turbo/files**.
2. Let `cmake` variables point to corresponding **`include`** path and **static library** of this package.

Related to #107

[2016-09-22 19:08] pattacini opened #145 "Extracting parts of git repository and keeping the history"
This is a very useful **how-to guide** when you want to break a huge repository in pieces while retaining the whole history of commits:

**https://ariya.io/2014/07/extracting-parts-of-git-repository-and-keeping-the-history**

The key idea here is to use [**`git-subtree`**](https://git-scm.com/book/en/v1/Git-Tools-Subtree-Merging).

[2016-09-23 11:04] pattacini commented on #143
Hi @randaz81

Just a couple of words regarding your branches **multiple_calib_matrix** and **xml_include**.

They don't seem to be mergeable and even rebasable on `devel` since they contain commits to files in the old by now `app/robots` directory.

Therefore, I would suggest you to rethink those branches leaving the code in `icub-main` while moving those commits to `robots-configuration`.

[2016-09-25 08:20] pattacini commented on #142
Hi @plinioMoreno

Actually, the **yarp code** you posted is fine. It's already using `position-control` by default and you may want to highlight that introducing this [_new parameter_](https://github.com/robotology/robots-configuration/blob/master/iCubGenova01/cartesian/left_arm_cartesian.xml#L10) in the conf file, also in order to disable it just on purpose.

Concerning **firmware**, I don't know

[2016-09-29 15:51] serena-ivaldi commented on #134
Dear all

we just updated the firmware following the instructions, but when we were updating the firmware with the CanLoader, we saw in the debug messages of the program on the terminal that there was a complaint about not having a recent version of the eUpdater module of the firmware.
We have been reading the instructions on the link you pasted (https://github.com/robotology/icub-firmware-build/b

[2016-09-30 10:38] plinioMoreno commented on #142
Hi @pattacini,

Thanks for your answer. Vizzy actually can control the joints in the mixed and the position direct modes. I will set the PositionControl flag and test when the [segfault issue](https://github.com/robotology/yarp/issues/914) is fixed.

I see that the cartesian controller server and solver run with yarprobotinterface for iCub. Would it be possible to run the cartesian controller and

[2016-10-02 11:26] pattacini commented on #134
@marcoaccame could you give a look at this?

[2016-10-02 12:49] pattacini opened #146 "Use yarprobotinterface instead of simCartesianControl"
Hi @robotology/all-robotology-developers,

This is to let you know that since https://github.com/robotology/icub-main/commit/95fe3bea3ac0766c7899cb177fdddb1c2b7e60c2 to launch the **Cartesian servers along with the simulator** you no longer need to rely on the **`simCartesianControl`** binary, but rather on the **`yarprobotinterface`** deployer as follows:

[code]

[Tutorials](http://wiki.icub.org

[2016-10-02 13:00] pattacini commented on #142
Hi @plinioMoreno,

You can definitely launch the Cartesian servers devices using the **`yarprobotinterface`** deployer (see also #146). You would need to populate **Vizzy**'s configuration files with suitable `xml` containing corresponding options. To get an idea, look at the content of this [directory](https://github.com/robotology/icub-main/tree/master/app/simCartesianControl/conf).

By contrast

[2016-10-05 11:25] frank-foerster commented on #117
I just installed this image and when test-booting it in my virtual machine I see the following error during boot time (ignore the last two characters, they were produced by my screenshot keys being accidentally captured by the virtual machine):
![screenshot from 2016-10-05 12-16-44](https://cloud.githubusercontent.com/assets/16962752/19111288/b7086486-8af6-11e6-9ba9-c29cb7983bf2.png)

Is this erro

[2016-10-05 11:27] pattacini commented on #142
Hi @plinioMoreno

Can we close this?

[2016-10-05 11:32] mbrunettini commented on #117
First, the image is not ment to be executed on a virtual machine, but on the real iCub Hardware: the startup process rely on hardware which can't be emulated on a VM.
Anyway, how did you produced the image? It seems that something is missing in the live filesystem.

[2016-10-05 11:39] frank-foerster commented on #117
I followed the instructions for the new images and just executed the script. We're running the image on a virtual machine first in order to adapt some network settings for our local network setup here etc. That hasn't been a problem with the old image.
But if this error will go away on the real robot, then everything is fine.
Is it supposed to produce/mount the persistence partition?

[2016-10-05 11:43] mbrunettini commented on #117
Just to be sure: which version have you downloaded and which script have you executed?

[2016-10-05 11:47] frank-foerster commented on #117
The image is the second-to-last image, coming in the zip-file: `icub-live_6.0-16.04.05-rt-amd64.zip`. The script was `/utils/linux/makeboot.sh` and I think I executed it with sudo bash <script_name> /dev/<usb_dev>, but don't nail me down on the latter, as I tried a lot of things yesterday.

[2016-10-05 12:03] mbrunettini commented on #117
The persistence in the above version is only a file. I think something wrong has happend while creating the USB.
Please try again and please check the following:

1. Take an USB drive at least with 8 GB size
2. Format the drive with fat32 filesystem
3. Open a shell, then go to the folder utils/linux and execute the script makeboot.sh with root privileges (i.e. `sudo bash makeboot.sh [PARTITION DEV

[2016-10-05 15:17] frank-foerster commented on #117
My USB stick is slightly smaller than 8GB, it's 7.3GB. So maybe that's what caused the problem.
I'm planning to use the old image before 6.0 again for the time being to test some hardware change but will update thereafter at some point. If I run into the same problems again I will post them here.

[2016-10-06 10:53] plinioMoreno commented on #142
Yes, we can close it.

[2016-10-07 09:36] paraschos commented on #134
Something useful on this side: https://github.com/robotology/icub-firmware-build/blob/master/ETH/howto-eth-boards-fundamentals.txt

[2016-10-07 09:47] paraschos commented on #134
So if I get it correctly, to upload the eUpdaer we have to do the following:

- Boot the boards, click discover twice (i.e. load the eUpdater at ``START'')
- Flash the eApplPROGupdater as firmware (i.e. at ``DEF'')
- Jump to eApplication, a.k.a. ``DEF'' (or just reboot everything **Do not click twice at the discover**)
- Flash the new eUpdater (while the eApplPROGupdater is running)
- Reboot, clic

[2016-10-07 12:43] paraschos commented on #134
@serena-ivaldi I just checked

 https://github.com/robotology/icub-firmware-build/blob/master/ETH/howto-eth-boards-programming.txt

Isn't it that Sec. (7) does the `eUpdater` update?

[2016-10-12 18:32] pattacini commented on #134
Hi @serena-ivaldi @paraschos @marcoaccame

What's the status of this?

[2016-10-12 21:37] paraschos commented on #134
@pattacini Not sure, I am in Darmstadt. @serena-ivaldi Did you finish it?

@marcoaccame the new documentation is appreciated. Really clear! However, if you are in a hurry it is quite lengthy for checking it for the first time. Maybe you would like to have a quick n dirty version on the top of the howto with just the commands.

Q: What is the order that of board chain? Is it the same as the IP (inc

[2016-10-13 09:21] paraschos opened #147 "Torso oscillates slightly after initialization"
We recently updated the firmware of iCubDarmstadt01 and now after the normal boot the torso oscillates a bit. What could the issue be? Gains? However, the gains in the config files didn't change, the firmware did. Also icub-main but I am not sure if it affects the robot since the eth boards do the ctl.
- The current configuration (with the changes to the previous one) is shown here

https://github

[2016-10-13 10:01] pattacini commented on #147
Hi @paraschos

I wouldn't focus on `icub-main` indeed, as you said, but rather on `FW` and robots configuration.

First off, I'd try to **get to a condition where the oscillation is no longer there**, by (1) _reverting the conf files_ and then (2) _rolling back the previous `FW`_ (I don't know how much this would be doable/cumbersome). At least these two steps should likely help narrow down the pr

[2016-10-13 13:09] paraschos commented on #147
Hi @pattacini,

I am afraid that such a process will take many many hours: in order to make the robot boot I would
have to re-flash quite a few boards as the latest `icub-main` requires the 2foc with protocol 1.5. Now if I revert to a previous firmware on the torso, I would have to revert `icub-main`. But the reverted `icub-main` will not now the v1.5 protocol of the rest of the joints and will se

[2016-10-13 14:43] pattacini commented on #147
Ok @paraschos understood. I proposed to do the roll back just to be 100% sure that nothing happened to the mechanics and/or electronics (e.g. encoder) in the meantime.

I suggested to tune PID only as last resort because those values should usually cover a wide range of conditions on different robots of the same configurations.

I honestly ignore how `P`, `I`, and `D` are retrieved; I don't know i

[2016-10-13 15:28] marcoaccame commented on #134
Hi all,

sorry for the delay.

In short.

1. Hi @serena-ivaldi, for now, there is no need to update to the new eUpdater (and eLoader),
2. but if one wants to do it, the documentation can be found on section (7) of https://github.com/robotology/icub-firmware-build/blob/master/ETH/howto-eth-boards-programming.txt. And I am available for support during the update.
3. Hi @paraschos, the quick-n-not-so

[2016-10-13 16:56] jgvictores opened #148 "Travis not loading custom yarp plugins"
Hi! We've finally been moving on to shared libraries for YARP plugins within the [teo-main](https://github.com/roboticslab-uc3m/teo-main) repository. Tests are running fine on my local machine, but when I push them to Travis, devices cannot be loaded (tests crash in segfaults). The following below is Travis output of the `issue-60` repository branch, where I've been adding debug code to [.travis.y

[2016-10-14 07:23] pattacini commented on #148
Maybe @drdanz can help here?

[2016-10-14 14:50] paraschos commented on #147
@davidetome Any updates, are the config files good?
Also some questions what is the "build" option that we added for? What was wrong
left/right MAIS device setting causing?

[2016-10-14 16:59] drdanz commented on #148
That's weird... Try adding `YARP_VERBOSE=1` to the latest command, it should give some more information about the reason why the plugin cannot be found...

[2016-10-14 17:01] drdanz commented on #148
i.e. run it as `YARP_VERBOSE=1 bin/testKdlSolver`

[2016-10-17 10:47] jgvictores commented on #148
So... the issue has to be somewhere between YARP, travis, and gtest...

A verbose YARP would definitely help.

However, the following 4 approaches have not made my tests any more verbose regarding YARP:
- .travis.yml `- YARP_VERBOSE=1 bin/testKdlSolver`
- .travis.yml `env:` `global:` `- YARP_VERBOSE=1` ([here in the TRAVIS output](https://travis-ci.org/roboticslab-uc3m/teo-main/jobs/167729705) it

[2016-10-17 11:28] davidetome commented on #147
Hi @paraschos ,

 the configuration files seem to be good.

[2016-10-17 11:39] pattacini commented on #147
The `build` param is a placeholder used for version checking, whereas the `MAIS` are those boards controlling the acquisition of the fingers encoders. Missing or wrong values for these specific options could bring about _warnings_ and/or _errors_ while launching `yarprobotinterface` so as loading incorrect parameters for one of the hands.

However, I don't think they can interfere with the problem

[2016-10-18 12:18] drdanz commented on #148
you can set the `ResouceFinder` to be verbose by calling explicitly [`ResourceFinder::setVerbose()`](http://www.yarp.it/classyarp_1_1os_1_1ResourceFinder.html#af6b29f542e049ca102f1d871cee3a627)

[2016-10-18 12:26] pattacini commented on #134
Thanks @marcoaccame
Closing; feel free to reopen it again if needed.

[2016-10-18 16:47] frank-foerster opened #149 "suggestion for additional note on iKinCartesianSolver wiki entry"
Hi,

This is a suggestion rather than an issue.

I just spent a few hours trying to get the iKinCartesianSolver to work with the simulator using the [iCub_Simulator_Startup](https://github.com/robotology/icub-main/blob/master/app/iCubStartup/scripts/icubSimStartup.xml.template) script.
The script / resource finder did not pick up the correct configuration file despite the correct `--context` param

[2016-10-18 17:54] pattacini commented on #149
Hi @frank-foerster
I can see your point but I would honestly discourage to add further info specifically to `iKinCartesianSolver` in this respect for two main reasons:

1. The search among various contexts is a **core functionality of our infrastructure**, comprising the behavior in the presence of `YARP_ROBOT_NAME` env variable, which is intended exactly as it happened in your case.
For this, hav

[2016-10-18 23:19] frank-foerster commented on #149
Hi @pattacini ,

thanks for the explanations regarding the design. I was not suggesting to hardcode or state the location of `iKinCartesianSolver`'s config file in the Wiki, but rather just add some qualifier.
For example in the line under `--context', where it says
"allow specifying a different path where to search the configuration file", one could simply add something like
"(this option may be

[2016-10-19 08:34] pattacini commented on #149
The thing is that `iKinCartesianSolver` does not represent a special case, hence there's really no need to highlight more clearly the warning in the documentation, otherwise we should replicate it within the documentation of each single module.

Further, the warning should have been more something like **"Beware of the context search policy"** 😄 with an appropriate link to e.g. http://wiki.icub.or

[2016-10-19 08:47] pattacini commented on #149
A further quick note. I definitely suggest to use frequently in debugging this command:
[code]
to inspect which file will be loaded from which context.

The tools `yarp resource` and `yarp-config context` are also discussed in #42.

[2016-10-19 09:55] frank-foerster commented on #149
Hi,
the **"Beware of the context search policy"** would be ok with me and would have triggered me to re-read the search policy description.
I have seen the mentioning of `yarp resource` in issue [#42](https://github.com/robotology/QA/issues/42) and will use it in the future.

Thankfully modules (or the ResourceFinder) also print on the command line where they look for files and which one they load

[2016-10-19 10:57] pattacini commented on #149
@frank-foerster just added the warning to a couple of modules, i.e. `iKinCartesianSolver` and `iKinGazeCtrl`.

**`simCartesianControl`** is already no longer available in our repo, starting from the commit referenced in #146.

[2016-10-19 11:28] frank-foerster commented on #149
Ok, thanks a lot. Let's hope the warning will help someone or save them time.

[2016-10-20 14:11] jgvictores commented on #148
I've made a simple [example repository](https://github.com/jgvictores/example-yarp-plugin-gtest) with a simple [example program](https://github.com/jgvictores/example-yarp-plugin-gtest/tree/master/programs/exampleProgram) that attempts to load a simple [example plugin](https://github.com/jgvictores/example-yarp-plugin-gtest/tree/master/libraries/ExampleLibrary) (a YARP plugin compiled as a shared

[2016-10-20 16:22] drdanz opened #150 "[Announcement] YARP 2.3.66.1 Released"
YARP 2.3.66.1 was released today and is now available for download at: https://github.com/robotology/yarp/releases/. This release is a _stable_ release and it fixes many bugs in YARP 2.3.66.

A (partial) list of bug fixed and issues resolved in this release can be found [here](https://github.com/robotology/yarp/issues?q=label%3A%22Fixed+in%3A+YARP+2.3.66.1%22).
## Important Changes
### YARP_dev
-

[2016-10-21 11:11] gsaponaro commented on #136
Update: we made the PC104-VGA connection and we got our image to work.

Initially we had a few issues, originating from the fact that unfortunately we had to use the live system on two different machines (i.e., burn the image on one machine, then put it on PC104): 1) network interface number (eth0, eth1 etc.), fixed thanks to your previous clarifications; 2) changing the password was not permanent

[2016-10-21 11:33] mbrunettini commented on #136
The libc6-dev-i386 is for 32 bit.
Can you please remember me which version of PC104 Image are you using?

[2016-10-21 12:18] gsaponaro commented on #136
1) iCub LIVE image for PC104 version 6.0-16.04.05

2) I noticed that the kernel reports the following errors, not sure if they are serious:
[code]
The full kernel log is here: https://gist.github.com/gsaponaro/47dfe7b1a9338d925a7d515f4564e256

3) Regarding libc6: now, having removed libc6-dev-i386, I cannot reproduce the problem anymore (because we did apt-get update & upgrade on the live system i

[2016-10-21 12:38] mbrunettini commented on #136
Ok, then: I was really strange to me that a i386 package was missing on a 64 bit architecture... We tested the image and no packages were missing in order to compile YARP.
libdl.so ( used for dynamic linking)  is already installed.
Regarding the kernel, I cannot open the full log from the link you sent, but It is better if you see something else not working (the pcspkr already loaded does not seee

[2016-10-21 13:23] gsaponaro commented on #136
Sure. This issue is solved, we just tested some robot demos with the new image and all is well. If anything happens I'll open a new one, thanks again.

[2016-10-21 15:40] hu-yue opened #151 "New GUI ethLoader"
Hi,

I wanted to update the robot, and as I've understood from issues #134 and #135, there is a new gui for the `ethLoader`, and all the updated instructions are referred to the new gui.

However, even if I updated everything, I still see the old gui; therefore, is there any option or so that I had to activate to see the new gui?

(I updated the firmware anyway with the old one, but for future and

[2016-10-24 08:54] marcoaccame commented on #151
Hi @hu-yue, in master there is not really a new GUI for ethLoader.

Some months ago, I just did a minor change to the layout: I reorganized the column to show some more information and I have renamed some buttons.

Following this change, new instructions were also required. The instructions refer to the new layout because one should typically perform an update of everything, as described in https:

[2016-10-24 09:11] hu-yue commented on #151
@marcoaccame thanks for the clarification!
We will try to update the eLoader and eUpdater later on, I will close this issue for the time being.

[2016-10-24 09:33] marcoaccame commented on #151
Hi @hu-yue ,

when you update eLoader, **remember** that instructions tells:
`In doing this operation, be careful and update only one board at a time because with some upgrades the  board may change its address into 10.0.1.99`.
Well, this update does force a reset of the address, hence ... do it one board at a time otherwise all boards will have the same IP address.
Also, if you change the IP addr

[2016-10-24 12:27] paraschos commented on #147
@pattacini I want to take one more look today on this one. Then, if there is no resolution I am closing it.

[2016-10-24 14:39] marcoaccame commented on #147
Hi @pattacini and @paraschos,
if it can help, last week I tested on our robot iCubGenova02 the master release (we normally run the devel release on this robot) and I did not see any oscillation on torso.

I was aware of this issue, hence I looked at (and moved) the torso trying to find wrong movements. But I saw nothing strange.

[2016-10-24 14:40] pattacini commented on #147
Thanks @marcoaccame for testing.

[2016-10-24 16:07] paraschos commented on #147
@marcoaccame ty!

[2016-10-24 16:17] paraschos commented on #147
Update: the problem appears to be more general than the torso oscillation. We did the following:

- Disable all the motors (idle) but the right leg. Small oscillations were still present
- The same for the left leg
- ... and for the torso

We noticed that the oscillations are mainly due to the `pitch` joints. Playing around with the
leg PID controllers (position mode) we noticed that disabling the

[2016-10-25 08:16] pattacini commented on #147
Hi @paraschos

What was the purpose of idling other joints when testing one specific?

Further, we could argue that `K_i` is too high but we cannot shut it down outright, given that we really need the integral term to compensate for steady-state errors due impairments, gravity...

The output of the `I` part is not clipped, otherwise we have overshoots and oscillations. The integral gets disabled a

[2016-10-26 11:10] paraschos commented on #147
Hi @pattacini

To figure out which joint/joints are the cause of these subtle oscillations.  Additionally, by decoupling the system we avoided 'cross-talking' between the joints.

I only did set it to zero for testing. What I also wanted to state is that the P gains is quite high and, therefore, the robot goes 'close-enough' (well that is a different discussion) to the desired.

I am not sure if I

[2016-10-26 12:05] pattacini commented on #147
A pure `P` controller cannot reject external disturbances, neither compensate for uncertainties and unmodeled quantities, so the **close enough** you saw in some given experiments is definitely and unfortunately **not enough** for general usage.

I think you'll find this [resource](https://it.mathworks.com/help/simulink/examples/anti-windup-control-using-a-pid-controller.html) on the **anti-windup

[2016-10-27 11:49] pattacini opened #152 "How to use the iCubFinger forward kinematics"
The [**`iCub::iKin::iCubFinger`**](http://wiki.icub.org/iCub/main/dox/html/classiCub_1_1iKin_1_1iCubFinger.html) object is designed to compute the forward kinematics of the iCub fingers.

Since there is no direct mapping among the hand encoders streamed by the standard state port, e.g. **`/icub/left_arm/state:o`**, and the joints of the chain representing the specific finger, we can make use of [`

[2016-10-27 12:09] pattacini commented on #152
The **`/icub/left_arm/state:o`** streams out only one double accounting for the movements of the two underactuated distal joints of the fingers. However, relying on the measurements acquired from the `MAIS` boards, we can have access to the two "_hidden_" encoders of each distal phalanxes.

These further feedback can be profitably used to improve the accuracy of the forward kinematics computation.

[2016-10-27 12:18] pattacini commented on #152
cc @vtikha @claudiofantacci @giuliavezzani @nawidj

[2016-10-28 11:05] hu-yue opened #153 "How to know the sign of MotorEncoders"
Hi,

I wanted to ask if there's a way to know the sign of the `MotorEncoders`, as they have different signs in some joints? For the time being I am comparing the readings from `MotorEncoders` and `Encoders` to discriminate this, but is there a function that "returns" the sign or something like that?

Thanks!

[2016-10-28 11:48] ale-git commented on #153
Hi @hu-yue , in the robots-configuration/yourrobot/hardware/mechanicals/*mec.xml configuration files there is a row with sign and resolutions of motor encoders:
<param name="RotorEncoderRes">   -14400.0      -14400.0      -14400.0       -14400.0   </param>

Hope this helps.

Alessandro

[2016-10-28 12:11] hu-yue commented on #153
@ale-git thanks for the reply! This is indeed helpful, so I guess to make the software more "flexible" one should create a parameters file from which the signs should be read (or use the data from `Encoders` as comparison as I'm doing), as it seems then that this information cannot be retrieved on the go from the robot, and as for my knowledge, the signs seem be to different from iCub to iCub.

[2016-10-28 13:08] pattacini commented on #153
A somewhat related issue https://github.com/robotology/yarp/issues/430.

[2016-10-28 13:35] pattacini commented on #152
THIS IS AN EDIT OF THE PREVIOUS MESSAGE

The **`/icub/left_arm/state:o`** port streams out only one double accounting for the movements of the two underactuated distal joints of the fingers. Moreover, the angles provided by this port do refer to **motors encoders**.

However, relying on the measurements acquired from the `MAIS` boards, we can have access to the two "_hidden_" encoders of each dist

[2016-10-28 15:44] hu-yue opened #154 "Factor of 1.5 between errors from iPidControl::getErrors and actual errors"
Hi,

I recorded the data from `iPidControl::getErrors` and then also data from `iEncoders`, then I computed the errors by `qdes-iEncoders`. I have realised that the errors from `iPidControl::getErrors` are of a factor of circa `1.5` smaller than the ones I computed. By dividing `qdes-iEncoders` by `1.5` they are basically the same as the ones from `iPidControl::getErrors`.
See plots below:
In blue

[2016-10-28 15:54] traversaro commented on #154
Hi @hu-yue ,
   on which joints did you get this data?

[2016-10-28 16:03] hu-yue commented on #154
@traversaro these specific plots are for the left ankle roll, however I get the same also on left knee and right knee, I can also test other joints.

[2016-10-28 16:37] hu-yue commented on #154
It seems to be true for all joints, however on the torso the tracking is quite bad, so I'm not sure about the outcome.

[2016-10-29 17:29] pattacini commented on #152
Upon https://github.com/robotology/icub-main/commit/22d86bf642aa0d69619fae7eb94a2487b77c30a8 it is now possible to streamline the above snippets in:

[code]

[2016-10-29 17:30] pattacini commented on #114
@claudiofantacci and @vicentepedro you might want to consider info detailed in #152.

[2016-10-29 17:43] claudiofantacci commented on #114
Thanks @pattacini!

[2016-10-29 17:45] pattacini commented on #152
cc @nawidj @giuliavezzani

[2016-10-29 23:59] vicentepedro commented on #114
Thanks @pattacini!

[2016-10-31 14:45] pattacini commented on #153
Hi @hu-yue

I don't think the further level of flexibility you're suggesting will ever help. The user has always the chance to retrieve those info from the same files loaded by `yarprobotinterface`. Although I agree it's not handy, it wouldn't be handier with yet another conf file.

To me it should be more convenient to expose these data through the `API` as per the request I referenced above (but

[2016-11-02 11:04] hu-yue commented on #153
@pattacini I agree that it probably won't help, that was just an idea for my own software, not a suggestion to add it in general. I was just wondering if there was something like this implemented but not documented, as often happens. I will close the issue as for me the question is clear now.

[2016-11-02 12:20] randaz81 commented on #153
Hi @hu-yue,
what is your exact application? Your question sounds strange to me, because I never had the need to expose it through an API, even in the system tests. So it is possibile that there is another way to do what you want to do, without knowing the sign of the motor encoder (e.g. using the gearbox value which is exposed by the API?)

[2016-11-02 12:25] hu-yue commented on #153
@randaz81 do the gearbox values have signs? I want to control the joint by using data from the motor encoders and have realised that there is a difference in sign. I admit that I just divided by 100 because I knew that it's 100 and did not read the value from the gearbox as I did in other applications. If there's the sign taken into account in the value returned from the `iMotor:getGearBoxRatio` t

[2016-11-02 12:28] randaz81 commented on #153
yes, gearboxratio is signed such as: motor*gear=joint

[2016-11-02 12:34] hu-yue commented on #153
@randaz81 ok perfect thanks =)

[2016-11-02 12:50] hu-yue commented on #154
I tried to understand if this was due to the latest firmware and software update, since I had data recorded from before. I have to say that I couldn't actually understand it. The computed errors and the errors from `iPidControl::getErrors` were different, but by dividing the computed errors by 1.5 they did not match with `iPidControl::getErrors`.

In general, I'd like to go back to my initial ques

[2016-11-02 14:26] randaz81 commented on #154
afaik, they should be identical on all joints of your robot. Suspected bug. @ale-git

[2016-11-02 14:31] hu-yue commented on #154
@randaz81 @ale-git ok, I wait for further updates then

@KevinAStein FYI

[2016-11-02 15:08] ale-git commented on #154
Hi @hu-yue , which controlmode has been used for the test? In the plots, is the x axis the time in milliseconds? The errors are measured in degrees? Thanks.

[2016-11-03 09:41] hu-yue commented on #154
@ale-git
- the control mode is `position direct`
- the x axis is the number of samples, but you can also say it's time in ms since I was sending commands with a thread rate of 10 ms
- the errors are in degrees

[2016-11-03 09:50] hu-yue commented on #154
Ok sorry the statement about the time is clearly wrong, total time is 6 sec, so the x axis is just number of samples

[2016-11-03 13:25] ale-git commented on #154
Hi @hu-yue , you should consider that there is a transmission delay Tt between your qdes at high level and the qdes_pid inside the pid controller, so qdes - iEncoders is in general different from iPidControl::getErrors = qdes_pid - iEncoders. If the delay between the qdes_pid reference and the joint position is affected by a Tc delay related to the pid time constant, then you have:
qdes = A * sin(

[2016-11-03 13:30] ale-git commented on #154
If the above hypothesis is correct, you should read a difference between qdes and iPidControl::getReference.

[2016-11-03 13:48] pattacini commented on #154
Hi @hu-yue @ale-git

The acquisitions seem to refer to a steady-state conditions where the error is quite low (~`1-2 deg`).
I would suggest to repeat the experiment logging all the involved quantities during a reasonable transition of `qdes`.

This should allow us to better test the hypothesis and appreciate possible latency among these variables.

[2016-11-03 15:31] PeterBowman commented on #148
@jgvictores did you compile YARP with `SKIP_ACE` option set to `ON` on your local machine? (see [.travis.yml](https://github.com/jgvictores/example-yarp-plugin-gtest/blob/b4b45f2/.travis.yml#L25)) In my case it doesn't even try to load the driver because of [this](https://github.com/robotology/yarp/blob/d790dbc/src/libYARP_dev/src/Drivers.cpp#L295). Everything works fine with ACE enabled.

[2016-11-04 10:00] ale-git commented on #154
Just an example:

![poserrors](https://cloud.githubusercontent.com/assets/4729270/20001715/bbec3e66-a27d-11e6-8ba6-f7bacc3f576b.png)

[2016-11-04 16:25] hu-yue commented on #154
@ale-git @pattacini thanks for the replies!

I run another experiment on the left knee joint performing a cos wave that moved the joint from `0` to `-90` and back in `2 [sec]`. I think the transmission delay can explain the difference between the two errors.
The data from `iPidControl::getReferences` seem to be delayed respect to `qDes` and then the encoders have a higher delay time.

Here are plo

[2016-11-04 17:27] ale-git commented on #154
Hi @hu-yue, yes, the error you should look at is returned by iPidControl::getErrors because it is synchronized to the encoder data. Using qDes - iEncoders introduces a gain factor due to the delay between the qDes and the low level joint position reference.
Cheers,
Alessandro

[2016-11-04 23:05] hu-yue commented on #154
@ale-git ok perfect, thanks for all the explanations! Now things are clearer.

[2016-11-05 12:15] pattacini commented on #154
Thanks @ale-git for the great handling of this issue 👍

@hu-yue I'd just like to add a brief comment upon closure from a bit higher standpoint.
Taking `qdes-enc` as a measure of the error remains perfectly viable though, given that controllers can be easily designed to account for latency too, of course depending on the requirements the designer has in mind.

[2016-11-07 16:04] emilio-cartoni opened #155 "[icub + Gazebo] icub_with_hands model not being "stiff""
Hi,
we are starting to use Gazebo for iCub simulations.
In particular, we would like to use the icub_with_hands model.
We tried to make the iCub execute some movements using the yarpmotorgui and we noticed that even if we are using Position Control and Stiff mode, the iCub moves joints that were given no orders (as if it is trying to balance some gravity/force).
This does not happen with the icub

[2016-11-08 07:29] drdanz commented on #148
FYI This issue with `SKIP_ACE` is fixed on devel by robotology/yarp@d117fffc0392a5cb13a7b0b9352b5825a0aa4785

[2016-11-08 08:30] traversaro commented on #155
Hi @emilio-cartoni ,
  I strongly suspect this is due to some gains of the joint-level PID controllers not properly tuned.
  In particular on which joint did you see this behavior?

[2016-11-08 10:49] emilio-cartoni commented on #155
Hi @traversaro ,
we were mostly using the first three joints of the left arm.
By browsing through the .sdf files it seemed to me that /icub/icub.sdf and /icub_with_hands/icub_with_hands.sdf refer to the same configuration files (i.e. /icub/conf/gazebo_icub_torso.ini) and that they would use the same PIDs (but maybe I am wrong, I am not familiar with Gazebo).
Even where they use different .ini file

[2016-11-08 12:47] randaz81 commented on #155
I can easily guess that the inertial parameters of the forearm/hand models are excessively large (graphically inspected within the simulator). This will be fixed.
However, I suggest not to move the l_shoulder_pitch joint of the REAL robot at a speed of 90 deg/s, it's dangerous for the robot and for surrounding environment and the humans nearby!

[2016-11-08 14:41] randaz81 commented on #155
commit commit 608313507185ae62d8bdafab215587ee14c3e440 should have fixed the inertia matrix of the fingers. Can you give a try?

[2016-11-08 15:13] amaroyo opened #156 "Using Lua as a state machine"
Hey guys! @vtikha

Are you still using Lua in yarp? I wanted to create a state machine in which, in different states it could send and receive information/commands from different modules. Do you recommend me to use Lua? Or is there something else which is better?

Thanks a lot!
Alex.

[2016-11-08 15:28] emilio-cartoni commented on #155
@randaz81 Thanks, it is definitely improved: the torso oscillates a lot less and the elbow is stiff.
The only problematic joint is the wrist (prosup, pitch, yaw).
It still seems that the hand is too heavy for those joints to keep it in position.
Joint wrist_yaw is also affected by this bug robotology/icub-gazebo#35  (but I am not sure if it contributes to this behavior).

[2016-11-08 16:21] pattacini commented on #156
Hi @amaroyo

Yep, I can confirm that using `Lua` is still our preferable way to code not only **state machines** but also **behavior based applications** within our infrastructure.

cc @vtikha @apaikan

[2016-11-08 19:21] jgvictores commented on #148
@drdanz Ok, thanks for the pointer!
@drdanz @PeterBowman Thanks for the help to both of you!

[2016-11-08 19:56] jgvictores commented on #156
Hi @amaroyo @pattacini @vtikha @apaikan  !!

Disclaimer: no intention to go against any recommended best practice! Will begin `Thinking in Lua` asap! :wink:

The [robotic video-game](https://github.com/asrob-uc3m/robotDevastation) I'm involved in is currently written in C/C++. Facts are we actually made a small [state machine](https://github.com/asrob-uc3m/robotDevastation/tree/be4a3aa21c74ed660f7

[2016-11-08 20:06] pattacini commented on #156
No problem @jgvictores, you're very welcome to advertise new solutions you're working on 😄.

##### Side note
Aiming to mini-repositories is a good way of organizing code and its dependencies, but using `git submodules` is discouraged, at least in our view; see discussion in https://github.com/robotology/icub-main/issues/360.

By the way, why don't you try our [**superbuild**](https://github.com/ro

[2016-11-08 20:16] jgvictores commented on #156
@pattacini I was actually quite reluctant to `git submodules`, which is in part why we haven't been doing it more. Thanks for the pointer to the superbuild mechanism, I'll comment on there if I have any doubts!!

[2016-11-08 20:21] pattacini commented on #156
@jgvictores that's good!

@amaroyo I've found this resource online: http://wiki.icub.org/images/4/46/Rfsm_yarp.pdf.
@apaikan do you have better locations where to point at?

[2016-11-09 09:34] apaikan commented on #156
@pattacini: thanks for sharing the tutorial. I guess that is the only tutorial using yarp with rfsm
@amaroyo: Honestly, I do not see any special need for other doc or tutorials regarding rFSM and Lua. What actually one needs is just to know

- how to compile yarp-lua binding (http://www.yarp.it/yarp_swig.html#yarp_swig_lua) and use yarp from Lua (https://github.com/robotology/yarp/blob/master/bind

[2016-11-09 15:04] amaroyo commented on #156
@jgvictores Thanks, I will take a look to the code!

@pattacini Yes! I found the same slides in google, but I saw that the date was 2013 :)

@apaikan Thanks for the documentation, I will take them a look and tell you how it goes!

[2016-11-10 10:35] randaz81 commented on #155
robotology/icub-gazebo@a5205fa fixes the effort limits. It should be fine now. Please fell free to open a new issue in the **`icub-gazebo`** repo if you notice further issues. Thank you!

[2016-11-11 16:00] randaz81 opened #157 "Yarp drops UDP packets bigger than 1472 bytes (windows)"
This was a trick issue to solve.

We noticed that on few _Windows 10_ machines of ours, large udp packets (such as images) were dropped by yarp. For example:
[code]
was failing without any error message, while the two following examples:
[code]
[code]
were both working fine.

We also noticed the following facts:
- **Wireshark** was able to see the UDP packets on the receiver side.
- Windows 10 was

[2016-11-11 16:01] randaz81 commented on #157
@apaikan @pattacini @drdanz

[2016-11-15 11:13] claudiofantacci opened #158 "iCub Eye - How to get eye pose from encoder values"
Hi everyone,
this a small, self-contained, "tutorial" on how to jointly use [iCub joint values](http://wiki.icub.org/wiki/ICub_joints) with [`iCubEye`](http://wiki.icub.org/iCub/main/dox/html/classiCub_1_1iKin_1_1iCubEye.html) class to get, either left or right one, [eye pose](http://wiki.icub.org/wiki/ICubHeadV2Kinematics) ✏️
![iCub eye pose](http://wiki.icub.org/images/9/9a/HeadCADRefFrame.jpg)

[2016-11-15 12:23] vicentepedro commented on #158
Hi Claudio!

Thanks for this "tutorial" ;)

I have an issue related to the torso joints update.

Usually, when I use the iCubArm chain (similar to the iCubEye, I suppose),  I need to update the torso joints in the reverse order.
[code]
Can you confirm that for the iCubEye we don't need to reverse the joint order?

Thanks in advance,
Pedro

[2016-11-15 13:12] claudiofantacci commented on #158
Hi @vicentepedro :-)

For "historical" reasons, the iCub torso joints are reversed, [see here](http://wiki.icub.org/wiki/ICub_joints#Torso), i.e., (Yaw, Roll, Pitch).
As a result, you read the encoders and then you have to _flip_ them from (Yaw, Roll, Pitch) -> (Pitch, Roll, Yaw).
I updated the tutorial accordingly.

Hope it helps!

[2016-11-15 13:29] vicentepedro commented on #158
Thanks, @claudiofantacci. Now, I think the tutorial it's perfect.

Hope it helps the iCub community ;)

[2016-11-15 13:30] claudiofantacci commented on #158
Cool, thanks @vicentepedro !

[2016-11-15 13:40] barbalberto commented on #158
:+1:

[2016-11-16 10:59] emilio-cartoni commented on #155
Thanks @randaz81, the body is now fine (torso, elbow, wrist).

There is some side-effect of the fixes on the hands which now have a constant small tremor and sometimes a finger twitches for a split second - I'll open a separate issue in the icub-gazebo later as suggested.

[2016-11-16 11:15] Yeshasvitvs commented on #155
I noticed the finger twitching too in my machine @randaz81

[2016-11-17 10:58] drdanz opened #159 "[Announcement] YCM 0.2.0 Released"
YCM 0.2.0 was released today and is now available for download at: https://github.com/robotology/ycm/releases/.

Changes made since YCM 0.1 include the following.

Build System
------------

* Use the ``INSTALL_PREFIX`` argument for
  `CMakePackageConfigHelpers`. This simplifies a lot the creation
  of the ``YCMConfig.cmake`` file for the binary tree.
* Fixed warnings with CMake 3.2.
* Added RunCM

[2016-11-18 13:46] traversaro opened #160 "[Announcement] Changing port prefix of iCub model in Gazebo from `icubGazeboSim` to `icubSim`"
Hi @robotology/all-robotology-developers ,
   to simplify the management of shared configuration files between the `iCub_SIM` simulator and the iCub model in Gazebo, we are thinking about changing the port prefix of the ports opened by the iCub model in Gazebo from `icubGazeboSim` to `icubSim`.

By changing your applications and configurations files, this modification should be frictionless, howev

[2016-11-22 10:26] randaz81 commented on #154
iPidControl::getErrors() has been just implemented in gazebo, see https://github.com/robotology/gazebo-yarp-plugins/issues/260

[2016-11-23 14:25] valeriosperati opened #161 "[gazebo simulator] is it possible to increase the physics max step size?"
I'm newby in Gazebo and running the first tests. I inserted "iCub with hands" in the simulator and run succesfully  the tutorial_arm.  Then I tried to increase  the physics max step size (in the gazebo gui) from 0.001 to 0.002, in order to have a faster (less accurate) simulation, obtaining sometimes a crash of gazebo, sometimes the icub crumpling on itself.
Is is this behaviour expected?  Is ther

[2016-11-23 18:09] drdanz opened #162 "[Announcement] YCM 0.2.1 Released"
YCM 0.2.1 was released today and is now available for download at: https://github.com/robotology/ycm/releases/.

Changes made since YCM 0.2.0 include the following.

YCM 0.2.1 (2016-11-23) Release Notes
====================================

Changes made since YCM 0.2.0 include the following.

Build System
------------

* Fix build tree not installed correctly the first time that "make" is executed

[2016-11-24 11:43] pattacini commented on #161
Senior developers helping on this might be @randaz81 @traversaro @Yeshasvitvs

@valeriosperati you should have received an invitation to join our GitHub community (this will allow you for example to assign labels). If you did not receive it, please check the email account associated to your GitHub profile.

Thanks @emilio-cartoni for contributing to keep Q&A neat 😉

[2016-11-24 12:41] traversaro commented on #161
Hi @valeriosperati ,
  in general all the models provided in the [`icub-gazebo`](https://github.com/robotology/icub-gazebo) repository have been tested with the default Gazebo physics step size of `0.001 s`. Notice that all the Gazebo physics engine at the moment have a fixed-step integrator, so this set the **actual step** of the integrator.

Unfortunately the differential equations describing th

[2016-11-24 12:50] randaz81 commented on #161
It's possible, in principle. I do no know about gazebo crashes (sometimes they occur without a specific reason due to problems in ogre, the graphic library). Instead, if you see the icub crumpling on itself, it is most likely that current PID gains of icub are not stable anymore. Indeed, they are tuned to work at a specific simulation step and they should be reduced accordingly if your increase th

[2016-11-25 12:09] valeriosperati commented on #161
Thanks a lot for the explanations and the informations.  Right now I'm just exploring Gazebo, testing the icub tutorials both on Gazebo and in iCub_SIM.  For now, I will keep the  physics step size to its default value.

PS: please, it is the first time that I  interact with GitHub issues: can we consider this issue closed? Is it up to me to "close and comment"? Thanks, Valerio

[2016-11-25 12:14] pattacini commented on #161
Hi @valeriosperati

Here's some info on [how to contribute](https://github.com/robotology/QA/blob/master/.github/CONTRIBUTING.md).

Usually, the OP (you in this case) is responsible for judging whether the issue can be closed or not. Maintainers can also kick in and say a word in this respect.

I think we can close it.

[2016-11-28 11:05] drdanz opened #163 "[Announcement] YCM 0.2.2 Released"
YCM 0.2.2 was released today and is now available for download at: https://github.com/robotology/ycm/releases/.

Changes made since YCM 0.2.1 include the following.

Modules
------------

### Superbuild Helper Modules

* Fixed bootstrap address in `YCMEPHelper` (#108, #109)

### CMake Next

* Fixed typo code for CMake < 3.0 (#107).

### 3rd Party

* Fixed OVITO new repository URL (#103).

--------

[2016-11-28 14:27] drdanz opened #164 "[Announcement] YARP 2.3.66.2 Released"
YARP 2.3.66.2 was released today and is now available for download at: https://github.com/robotology/yarp/releases/. This release is a _stable_ release and it fixes a few bugs in YARP 2.3.66.1.

A (partial) list of bug fixed and issues resolved in this release can be found [here](https://github.com/robotology/yarp/issues?q=label%3A%22Fixed+in%3A+YARP+2.3.66.2%22).

Important Changes
--------------

[2016-11-28 14:30] drdanz opened #165 "[Announcement] YARP 2.3.68 Released"
YARP 2.3.68 was released today and is now available for download at: https://github.com/robotology/yarp/releases/. This release is a _feature_ release and introduces several new features and important changes since YARP 2.3.66.

A (partial) list of bug fixed and issues resolved in this release can be found
[here](https://github.com/robotology/yarp/issues?q=label%3A%22Fixed+in%3A+YARP+2.3.68%22).

[2016-11-28 14:30] drdanz commented on #164
cc @robotology/all-robotology-developers

[2016-11-28 14:31] drdanz commented on #165
cc @robotology/all-robotology-developers

[2016-11-28 15:45] traversaro commented on #165
@robotology/all-robotology-developers If after upgrading YARP you are not able to compile icub-main, please check https://github.com/robotology/icub-main/issues/389 .

[2016-11-30 13:51] pattacini commented on #158
Interestingly, the same recipe is also valid to correctly populate other `iKin` classes, such as [`iCubArm`](http://wiki.icub.org/iCub/main/dox/html/classiCub_1_1iKin_1_1iCubArm.html) or [`iCubTorso`](http://wiki.icub.org/iCub/main/dox/html/classiCub_1_1iKin_1_1iCubTorso.html).

[2016-11-30 14:00] claudiofantacci commented on #158
Should I open another QA, say,
_iCub iKin - How to get end effector pose from encoder values_
with a phrase like yours @pattacini which, however, simply points here ?

[2016-11-30 15:00] pattacini commented on #158
@claudiofantacci I don't believe it's really necessary. Later searches through GitHub will catch your nice instructions anyway 😉

[2016-12-01 10:53] pattacini opened #166 "Disable CUDA in cmake"
@gregoire-pointeau commented on [Thu Dec 01 2016](https://github.com/robotology/yarp/issues/981)

Hello, we are working on the cluster. We have the blades and the cuda machine that share the same sources.

While compiling `yarp` then `icub-main`, it works on the `cuda-machine` but on the blades we have a problem of cuda:

This is the `cmake`:
[code]

and this is the output:
[code]

Is there a way

[2016-12-01 17:21] pattacini commented on #166
Hi @gregoire-pointeau

`cuda` and the `blades` should have the same OS, but of course `cuda` has its own stuff related to the GPU platform. Therefore, compilation should always go neatly on `cuda` but might bring about troubles on `blades`.

However, the same binaries compiled on `cuda` should run smoothly also if launched from `blades`, because they basically share the same OS. Thus, you wouldn't

[2016-12-01 17:25] gregoire-pointeau commented on #166
On the blades were always set 2 directories in each project (`yarp`, `icub-main`...):
- `build-cuda`   (to be executed on the `icub-cuda`)
- build-x86_64   (to be executed on the blades)

[2016-12-01 17:41] vtikha commented on #166
@gregoire-pointeau can you confirm that the `CUDA` and the `blades` have the same OS?

[2016-12-01 17:52] pattacini opened #167 "Request to update icub-main and robots-configuration to address iCub Head 2.5"
Dear @robotology/all-robotology-developers

Since in our latest mechanics of the iCub head the IMU is displaced wrt its standard location, we have been forced to update the way we handle hardware versioning in order to better account for future releases.

In particular, we have:
- Extended **`iKin`** to define the new `2.5` head mechanics.
- Streamlined **`iKinGazeCtrl`** to deal with multiple har

[2016-12-01 17:56] pattacini commented on #166
Nonetheless, if they have two separate build directories, then you shouldn't experience any problem, in principle.

Are the env variables correctly set up? What are the values of `YARP_DIR` and `ICUB_DIR`, for both the systems? Perhaps, you could do `which yarp` on `blades` and check out that the path is the intended one.

Did you try out purging the cmake cache?

[2016-12-01 17:58] Tobias-Fischer commented on #167
Hi @pattacini,
I think we have the head 2.0 here on `iCubLondon01`. Could you please confirm this? If this is the case, we should update the files in `robots-configurations` for our robot as well.

Thanks a lot,
Tobi

[2016-12-01 18:03] pattacini commented on #167
Hi @Tobias-Fischer,

What I did in https://github.com/robotology/robots-configuration/pull/13 was to search for `--headV2` and replace it with the new option. I didn't find anything for `iCubLondon01`, hence - presumably - from `robots-configuration` standpoint you've got an **head 1.0**.

Can you drop here a picture of the iCub neck? 😄

[2016-12-01 18:27] Tobias-Fischer commented on #167
Hi @pattacini, okay, I see. Please find below the pics, I hope you can see what you need to see ..
![20161201_182002](https://cloud.githubusercontent.com/assets/5497832/20806653/c52075de-b7f3-11e6-9daf-6471b83cb69b.jpg)
![20161201_182020](https://cloud.githubusercontent.com/assets/5497832/20806654/c52119c6-b7f3-11e6-974a-92a7d8936084.jpg)
![20161201_182033](https://cloud.githubusercontent.com/asse

[2016-12-01 18:29] traversaro commented on #167
That's definitely a **V2** neck.

[2016-12-01 18:30] pattacini commented on #167
Yed, indeed! Thanks @Tobias-Fischer for the pictures.

[2016-12-01 18:32] pattacini commented on #167
@Tobias-Fischer can we open an new issue on this?

I'm asking because I'm afraid there're other files to be updated (see the [calibrators](https://github.com/robotology/robots-configuration/blob/master/iCubGenova01/calibrators/head_calib.xml#L10) of `iCubGenova01` for example).

[2016-12-01 18:32] Tobias-Fischer commented on #167
Sure, I'll open the issue.

[2016-12-02 10:14] Tobias-Fischer commented on #165
Hi @drdanz @mbrunettini,
Will this release be made available on the repository (http://www.icub.org/ubuntu)?

Thanks, Tobi

[2016-12-02 10:24] gregoire-pointeau commented on #166
@AnneLaureM  Could you have a look please? I'm never comfortable with everything that is architecture-related...

[2016-12-02 14:20] drdanz commented on #166
@gregoire-pointeau did you build OpenCV manually? Apparently the warning comes from inside the `OpenCVConfig.cmake` file...

[2016-12-02 14:20] drdanz commented on #165
@Tobias-Fischer yes, @mbrunettini is working on it, the packages will be available as soon as possible.

[2016-12-02 14:26] vtikha commented on #166
@gregoire-pointeau let me add something to @drdanz comment, if `opencv` has been built with `cuda` capabilities you will need to have two separate `build` directories for it to run on the `blades`.

[2016-12-02 15:46] drdanz opened #168 "[git] How do I move my branch from devel to master and return?"
### Moving a branch from `master` to `devel`

It is easy to rebase a branch that you started on `master` on `devel`, since (assuming that `master` is fully merged into `devel` and that there are no conflicts) you can just run:

[code]

### Moving a branch from `devel` to `master`

Rebasing a branch in the opposite direction is a bit trickier, since `devel` contains more commits that are not in `ma

[2016-12-02 17:14] plinioMoreno opened #169 "How to add the saccadic motion to Vizzy's Gaze controller"
@pattacini,

We want to add the saccadic gaze motion to Vizzy. What are the requirements in order to do this?

[2016-12-04 10:21] pattacini commented on #169
Hi @plinioMoreno ,

The **saccadic behavior** is described in section **D.3** of "[_A Cartesian 6-DoF Gaze Controller for Humanoid Robots_](http://www.roboticsproceedings.org/rss12/p22.html)".

Saccades are **fast open loop movements** of the eye bulbs that are achieved by sending **position commands** with **very high reference speed**.

Relevant code can be browsed here:
- [Computation of set-po

[2016-12-05 14:16] pattacini commented on #166
Hi @gregoire-pointeau and @AnneLaureM
Any news?

[2016-12-07 13:31] traversaro commented on #160
The change as today have been fully implemented in `icub-gazebo` master branch and all related repositories.

[2016-12-10 15:03] pattacini commented on #169
Closing for now.

[2016-12-10 15:17] pattacini opened #170 "How to run yarplogger and modules in one single application without yarprun"
If you have just one PC - no cluster then - and want to launch everything in **one single application**, the template below might come in handy:

[code]

#### Closing remarks
- We rely on **`localhost` broker**, given that we don't have to deal with a cluster, hence there's no need for `yarprun`.
- `yarplogger` becomes already operative (notice the **`--start`** option), so we don't even need to c

[2016-12-10 15:25] pattacini commented on #170
And if you aim not to miss any printout even when you shut down the whole application, just specify the option `--no_stop` for the `yarplogger`.

[2016-12-10 18:52] pattacini commented on #170
cc @robotology/ifi-younglings

[2016-12-13 09:50] traversaro opened #171 "Change of component for YARP & ICUB subprojects in codyco-superbuild"
To better support between switching between `master` and `devel` branches, as explained in https://github.com/robotology/codyco-superbuild/blob/master/README.md#handling-the-devel-branch , we switched the YCM COMPONENT of the YARP and ICUB subprojects from `external` to `libraries`.

If you are downloading and compiling YARP and ICUB using the superbuild, this means (assuming that your build direc

[2016-12-13 13:02] nisommer opened #172 "iCub lift/harness system: where/how to buy/build it ?"
Hi all,

We recently received our second iCub, this one being able to walk.
Where can I find information on the harness system for safety while it is walking ?
I could only find the video n12 in [iCub installation videos](http://wiki.icub.org/wiki/Installation_of_the_robot) to show how to lift the icub, but no information how to build or buy the harness/lift system.

Thank you for your help.
Nicol

[2016-12-13 22:43] pattacini commented on #172
Is anyone from @robotology/icub-support-team willing to follow @nisommer's request?

cc @julijenv @Fabrizio69

[2016-12-14 09:49] jbmouret commented on #172
Hi Nicolas,

do you mean this kind of crane?
http://www2.thuasne.fr/thuasne/front/site/france/cache/offonce/pid/853;jsessionid=A2917B709DCA8B840AA86D3CE61A387D

On Tue, Dec 13, 2016 at 11:43 PM Ugo Pattacini <notifications@github.com>
wrote:

--
--
ERC ResiBots: http://www.resibots.eu
Web: http://members.loria.fr/JBMouret

[2016-12-14 14:06] nisommer commented on #172
Hi, yes this is what I'm talking about.
I guess it's between this or building our own simple system.
Thank you. I will investigate this solution for now.

[2016-12-15 09:20] jbmouret commented on #172
FYI, this costs about 700 euros (so, not much compared to a home-made
system).

On Wed, Dec 14, 2016 at 3:15 PM Ugo Pattacini <notifications@github.com>
wrote:

--
--
ERC ResiBots: http://www.resibots.eu
Web: http://members.loria.fr/JBMouret

[2016-12-15 10:42] drdanz opened #173 "[Announcement] C++11 and CMake 3.0 Required on YARP and YCM devel"
We decided to drop support for Debian Wheezy and Ubuntu Trusty (see YARP supported releases policies [[1]](http://wiki.icub.org/wiki/YARP_Supported_Distributions) for details).
Moreover we decided to drop support for Visual Studio 10 2010 and Visual studio 11 2012.

These compilers will still be supported on `master`, but they are no longer supported in `devel` and will not support next major rele

[2016-12-15 10:54] AnneLaureM commented on #166
Hi everybody,

I am REALLY SORRY for the response time (I had my defense thesis on monday :-) ) .
A few months ago, we have compiled opencv 3.0  and by default opencv has some dependencies with cuda, so by default the cuda system librairies (in our case cuda 4.2 on Debian Wheezy...). So finally, I have just removed cuda 4.2, recompiled everything with cuda 7.0 and everything seems ok now.
Sorry fo

[2016-12-15 12:27] Tobias-Fischer commented on #173
Does that mean that there finally will be a new PC104 image for the iCub? :)

[2016-12-15 14:51] drdanz commented on #173
@Tobias-Fischer The debian jessie version of the PC104 image is available since may, is there a problem with that image?

[2016-12-15 14:54] Tobias-Fischer commented on #173
Great! I didn't know this version is available (was there an announcement?), we'll update `iCubLondon01` accordingly :)

[2016-12-15 15:37] gsaponaro opened #174 "Confirming skin version number of our iCub"
Hi, having read [here](http://wiki.icub.org/wiki/Tactile_sensors_(aka_Skin)) that there exist different versions of the iCub skin, we'd like to know which particular type is mounted on `iCubLisboa01`. For reference, this skin was installed during summer 2014.

/cc @randaz81 @maggia80 @vicentepedro https://github.com/robotology/QA/issues/39

[2016-12-15 19:12] pattacini commented on #174
cc @robotology/icub-support-team

[2016-12-15 19:25] pattacini commented on #166
Congratualtions @AnneLaureM, you made the grade 🎉 🎓 😄

Actually, we've lately upgraded our system to the use of **Ubuntu Xenial**.

It's likely that @mbrunettini can point you at a list of useful instructions he might have for that.

[2016-12-16 16:02] giuliavezzani commented on #147
@julijenv  and I experienced oscillations when the torso joint no. 2 is at 0.0 degree.
If we move the torso to a different position, for example, at some negative values, the torso became stable. However. while using the torso, such a instability comes out again, maybe because of crossing of the 0.0 degree value.

[2016-12-20 06:22] kt10aan opened #175 "Possible ways to run different versions of YARP/iCub for legacy demos?"
Ideally, all our software/demos would be updated to be compatible with the latest iCub/YARP version.
However, in practice, we would have some demos that haven't been updated for some time, e.g. for a year or so (for various reasons: researchers leaving, focus on different priorities etc).

We do use gar-installer for having different yarp/iCub builds and dependencies (at least on the ''icubsrv'' m

[2016-12-20 17:03] pattacini commented on #175
@drdanz @traversaro any hints on that?

[2016-12-21 06:34] LakshithaPW opened #176 "Sending Video Stream From the C++ Code"
Dear All,

I have a question about streaming a video to the iCub simulator screen.

I have successfully set up the iCub simulator and I can stream the example available in the README section:
[code]
This works perfectly!

I would like to do the same from within my C++ code (e.g. project an image to the screen).
I could not find any help on the web for such a sample code. I tried to set up a `test_

[2016-12-21 11:04] AnneLaureM commented on #166
Hi  !!

Thanks @pattacini :-) Thanks to the grade, I am now able to read properly cmake errors :-D :-D.
I am surprised that the upgrade has been made with Ubuntu :-( !! @mbrunettini can you send us the list of instructions ? Do you think it is possible to upgrade the whole cluster into Debian Jessie ?

Cheers,

Anne-Laure

[2016-12-21 14:23] pattacini commented on #176
Dear @robotology/ifi-padawans,

Can you please help @LakshithaPW to solve this problem?

[2016-12-21 15:37] Nicogene commented on #176
Hi @LakshithaPW,

@giuliavezzani and me found some problems in your code, but we didn't test it, so after the changes we suggest you, if you have other problems let us know :smiley:
You have to put `mode` inside the `Property`, in order to run it in the same  way : `p.put("mode","ball")`.
Another problem is that you are adding the ports' names in fields `local` and `remote` that are not used by th

[2016-12-21 16:23] LakshithaPW commented on #176
@Nicogene
Thank you very much for the response,
I changed the code to,

[code]
There seems to be a small issue with the connection `Network::connect`. But it works well in the command prompt. In the connection step it seems nothing is happening.
Please let me know if you notice any problem with this procedure.
Thanks in advance :)

[2016-12-21 16:29] Nicogene commented on #176
You have to declare a  Network object, but the good convention is to not do connection in the code

[2016-12-21 16:38] pattacini commented on #176
To elaborate a bit more, @LakshithaHKUST you ought to:

[code]

However, @Nicogene is right: it's way preferable to establish connections outside code, since we adhere to [**publish-subscribe pattern**][1], where modules should remain as much agnostic as possible of the sources/sinks they receive/send data from/to.

[1] https://en.wikipedia.org/wiki/Publish%E2%80%93subscribe_pattern

[2016-12-21 16:53] pattacini commented on #174
Issue moved to [robotology/icub-support #344](https://github.com/robotology/icub-support/issues/344) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-21 16:54] Nicogene commented on #176
Sorry but I commented from the smartphone 😅

[2016-12-21 16:56] pattacini commented on #176
No problem @Nicogene 🎖

[2016-12-21 17:51] LakshithaPW commented on #176
Thanks @Nicogene and @pattacini I'll have a look.

[2016-12-21 20:05] pattacini commented on #176
Closing for the time being then.

[2017-01-10 10:30] pattacini commented on #116
cc @Iaxama

[2017-01-10 10:48] pattacini commented on #170
cc @apaikan

[2017-01-11 18:59] Tobias-Fischer opened #177 "Can't start PC104 from Debian 6.0-16.04.05-rt-amd64 image"
Hi @mbrunettini,
I want to update our PC104 to work with the new Debian 6 image. I followed the instructions at http://wiki.icub.org/wiki/The_Linux_on_the_pc104#Burn_the_Debian_image_version_6.x_.28latest.29. Following these instructions, I cannot reach PC104. I've tried both, making the image bootable using the Linux script and Windows script and neither method worked.

By not working, I mean tha

[2017-01-12 12:55] pattacini commented on #175
Discussing this doesn't seem much appealing...

[2017-01-12 12:57] pattacini commented on #166
@AnneLaureM is this still active?

[2017-01-12 15:44] Tobias-Fischer commented on #175
Maybe www.docker.com could help? I'd be interested in that as well.

[2017-01-16 10:04] amaroyo opened #178 "Publishing Laser Visualization to Yarp"
Dear @randaz81, @Tobias-Fischer, @reafrancesco,

I would like to get some advice for the following problem: I have the iKart in a fixed position (immobile during the whole time) in a room; using the laser I am able to visualize the room and the moving objects using rviz, as you can see in the following pictures:

![screenshot from 2017-01-16 10-45-22](https://cloud.githubusercontent.com/assets/117

[2017-01-16 11:29] Tobias-Fischer commented on #178
Hi Alex,
I am not sure whether you should go for image processing. I'd probably directly process the readings from the iKart. Especially as it's not moving, it should be quite easy. There is already a yarp port which outputs these data, which are distances for the various angles.
In the easiest way, you could just store all the distances measured, and then compare them over time to see where objec

[2017-01-16 15:40] Tobias-Fischer commented on #177
Any news @mbrunettini? @julijenv would it be possible to send one of the VGA cables for easier debugging?

Thanks!

[2017-01-17 14:48] drdanz commented on #175
@kt10aan sorry for the delay, I just noticed this issue.

One of the features of YCM is that you can set a `<repo>_TAG` cmake variable for each repository (for example `YARP_TAG`, `ICUB_TAG`, etc.).

This allows you to use a fixed commit hash from each repo.

The idea behind this was to be able to have "snapshots" of a demo at the exact point when you are 100% sure that the demo is working.
This h

[2017-01-17 14:52] drdanz commented on #177
@pattacini Perhaps this should be moved to icub-support?

[2017-01-17 15:10] pattacini commented on #177
Maybe @Tobias-Fischer could open another issue in `icub-support` for the VGA cable, but I'd rather keep this here for what concerns the problems with the image.

[2017-01-18 09:02] mbrunettini commented on #177
The script used to make the USB bootable is a standard widely adopted by distrubuitions like Filezilla and usually works smoothly **if you follow the instructions carefully**
I suggest to :
1.  try again the process, reading and following all the instructions (specially: the USB requred min size, the filesystem to format to and how to execute the makebooot script.
2. if the above still fails, try

[2017-01-18 15:00] amaroyo commented on #178
Hi Tobias,

Yes, you're right. However, if you process it that way, you lose the "meaning" of the data. In the sense, the room and the person moving in the room. If it's getting closer to one part, to the table, to a chair, etc.
Also, it would be difficult to understand if the readings are correct. If you can visualized it, you can easily check whether everything works fine.

Thanks,
 Alex.

[2017-01-19 09:47] randaz81 commented on #178
You can check the drawing function: `void drawLaser()` inside `yarplaserscannergui`. It uses some basic math and opencv drawing functions to produce an image very similar to the one you posted here. However, that module is a stand-alone application. If you want to manipulate the image data coming from a yarp port, you need to develop your own module that basically takes the image produced inside y

[2017-01-20 10:22] randaz81 commented on #178
PS: Even the math part in yarplaserscannergui is a good example, I do not recommended to use openCV drawing functions, it's a tedious dependency. Instead, you can use **yarp drawing functions**_http://www.yarp.it/namespaceyarp_1_1sig_1_1draw.html, which are simple to use and do not require external dependencies.

[2017-01-23 14:33] amaroyo opened #179 "Failing to start OpenCV on MacOS - NSInternalInconsistencyException"
Hello,

I am tryting to run an app that works on both, Windows and on Linux but it fails on MacOS. I have installed Yarp and iCub from sources and they both work, as well as other applications. The problem is that once I run the application and I try to read from a port, the following happens:

[code]

I have the feeling that the reason behind it, is OpenCV. When I connect to the port to read, the

[2017-01-23 14:44] francesco-romano commented on #179
In the issue they are suggesting to move the call in the main thread as the error suggests.
When you say "I moved the call to the module" you did not specify from where you moved the code. I imagine the code was in the Thread, right?
If this is the case then I am afraid this is the only thing you can do (a part re-thinking your application)

[2017-01-23 14:50] vtikha commented on #179
@amaroyo, the window of OpenCV needs to be opened in the main thread. @francesco-romano is right in saying that you would need to re-think the application but why don't you send the image through YARP to a yarpview instead?

[2017-01-23 15:15] amaroyo commented on #179
@vtikha, It's not an image what I am sending, I am waiting for a keyboard press to detect it and read it.

@francesco-romano, yes, I had to move it from the Thread to the Module. I don't really see how much room I have for rethinking the application, as I do not have much more choice. It's an app which waits and reads a keypress from a keyboard, and it sends it to a yarp port.

[2017-01-23 15:48] francesco-romano commented on #179
@amaroyo the problem is that usually events and graphic function calls must be done in the main thread.  So you have no choice here. Put that in the main thread.
If the thread needs to wait for the command, then you have to synchronise thread and main thread, for example (just an example) by using conditional variables

[2017-01-23 15:50] vtikha commented on #179
@amaroyo ok, I assumed opening a window would be to display something. It all depends on what you are trying to do, or on what is happening inside your `module` and `thread`. In most of the cases with events and signals it is preferable to have the main thread deal with user inputs and notify other threads of any changes or reorganise things a bit.

[2017-01-24 08:16] amaroyo commented on #179
@francesco-romano, @vtikha, as this is an auxiliary and very simple app, I do not need to do any synchronisation between threads... but I guess that in a more complex application, it will be more difficult to solve.

Anyway, OpenCV project have assigned this issue as a bug, maybe in the new release they will have fixed it!

Thanks a lot!
Alex.

[2017-01-27 19:33] pattacini commented on #175
Closing, feel free to open it again.

[2017-01-27 19:34] pattacini commented on #177
@Tobias-Fischer is it going any better here?

[2017-01-31 11:11] Tobias-Fischer commented on #177
I won't get to test this within the next few weeks. I'll close and re-open if necessary.

Thanks, Tobi

[2017-02-02 15:59] randaz81 opened #180 "Problems with blocked/not responding ports"
This QA applies to the following cases:
- **yarpmotorgui** hangs up during startup, in particular while trying to open `/robot/part/xxxx` port.
- **`yarp read ... /port`** does not display anything on machine **A**, but it works correctly if executed on the machine **B**.

[2017-02-02 16:35] randaz81 commented on #180
There are two typical causes:
* A **firewall** is set on machine **A**. Especially if your machine is a windows machine check the configuration of your firewall.
* The **yarp server is misconfigured**. If yarp server has been launched on a machine with multiple ethernet boards, check that it is using the correct address (by default yarp server will choose the first available one).

Consider the fo

[2017-02-02 16:44] randaz81 opened #181 "About address conflict, yarp clean etc"
This QA explains what the message **address conflict** means and how to fix related issues.

[2017-02-02 23:31] randaz81 commented on #181
Yarp legends and superstitions:

* **killing a module.** It may happen that you need to kill your own yarp module because it is not more responding. Obviously, if you kill it with a -9 signal (e.g. `killall -9 mymodule`), the module will close abruptly without closing the yarp ports that it previously opened. Thus, if you execute the command `yarp name list` you will be still able to see these por

[2017-02-03 09:40] randaz81 opened #182 "Problems about mono-directional communication (yarp -> ROS)"
This is a tricky issue: a yarp machine (A) is able to subscribe to a ros topic and receive data correctly sent by a ros machine (B). But the data that (A) publishes on a ros topic are not received by the ROS machine (B). (*)

These are the things to check when this issue is observed:
* check that yarp server has been started with the `--ros` option
* check the existence of the` /ros` port with a `

[2017-02-09 08:11] barbalberto commented on #182
Can you please add more detail about this issue?

[2017-02-11 10:07] pattacini commented on #152
It is likely that analogs readings are not covering the full range of motion of the fingers. In this case, the user can proceed by noting down the values of analogs when the fingers are fully extended and fully bent and construct the corresponding matrix of analogs bounds as below, with the first column accounting for full extension and the second for full bending:

[code]

cc @giuliavezzani @clau

[2017-02-12 21:10] giuliavezzani commented on #152
Thanks @pattacini  for the improvement! :smiley:
I tested the new function on the `iCubDarmstadt01` and I got **good positions** both when I passed a `analogBounds` Matrix and when I used the default values in the `getChainJoints()`. :+1:

However, it seems there is still some **problems** in getting fingers positions when the fingers are holding an object, thus, executing **pressure on the object

[2017-02-14 13:18] frank-foerster opened #183 "CAN RX OVERRUN message on yarprobotinterface"
Hi,

since having figured out how to run and regularly running yarplogger, I noticed that the yarprobotinterface regularly prints error messages such as

`sharedcan[0] board 1 CAN RX OVERRUN`

I'm currently running high-level code issuing commands to the the cartesian interface and ARE in an interleaved manner and did not notice any decrease or breakdown in the functionality of these modules in te

[2017-02-14 14:30] mbrunettini opened #184 "Graphics libraries and HardDisk based iCub - mount the icub-head filesystem on client"
**On the new PC104 with hard disk** (a.k.a. _icub-head_), graphics-based tools have not been installed (except the ones required for firmware interfaces) and it is better not to install them. Anyway, to use graphic tools (like editors, files managers, etc..) is very useful and sometimes essential.
Instead of running remotely a tool and displaying it locally (like we did in old PC104), we can **mou

[2017-02-14 14:38] mbrunettini commented on #184
I will add a command alias on the client machine environment, so the process will be simpler.

[2017-02-15 08:31] traversaro commented on #184
cc @robotology/icub-developers

[2017-02-15 19:50] pattacini opened #185 "Jacobian of the iCub"
@LakshithaPW commented on [Wed Feb 15 2017](https://github.com/robotology/icub-main/issues/423)

Dear All,

I was wondering anyone could help me to find the Jacobian in real time for the iCub Simulator ?
I want to control the end effector of the iCub given a specified task space velocity.

Thanks in advance

[2017-02-15 19:51] pattacini commented on #185
Hi @LakshithaHKUST

I've just moved this issue to our [**Q&A**][1] system, where you'll receive a reply quite soon 😉

[1]: https://github.com/robotology/QA

[2017-02-15 19:55] pattacini commented on #183
Can anyone of @robotology/firmware-developers take this question?

@randaz81 @marcoaccame ?

[2017-02-15 20:02] pattacini commented on #182
@randaz81 I'm starting considering this issue an attempt to pollute the system 😉
Something that will make you lose 💯 **robot-chlorian** per day. Watch out 😃

But since you're a master and you helped us a lot these days I can close an eye, tonight...

[2017-02-16 17:14] pattacini commented on #185
Hi @LakshithaPW

To get the **Jacobian** of the arm (or any other limb) of the iCub (no matter if we consider the simulated or the real robot), you might want to use [`iKin` library][1], whose tutorials are available from our [manual][2].

Essentially, you ought to use a snippet looking pretty much the following:
[code]

Besides recruiting directly the Jacobian, you might also consider relying on

[2017-02-16 17:54] LakshithaPW commented on #185
Thank you very much for the response..
I'll follow the snippet.

[2017-02-17 09:30] nedatym opened #186 "icub joint specification"
Hi,

In order to solve an optimization problem, I should have maximum feasible torque which can be applied on each joint. Also I need maximum admissible velocity of each joint and moments of inertia for all icub links.
It's appreciated if you could provide this information.
Thank you.

Best,
Neda

[2017-02-17 09:40] pattacini commented on #186
@traversaro @DanielePucci @francesco-romano
do you have such information?

[2017-02-18 10:59] pattacini commented on #183
Hi @frank-foerster

Let me try to give you a quick feedback on this.

To my knowledge, the warning should mean that there's an amount of time required to process incoming CAN messages on the `board 1` that exceeds the intended limit (i.e. the `overrun`). This is probably due to the position-direct set-points sent by high-level controllers.

Certainly, we shouldn't have the warning and the time slo

[2017-02-20 04:32] randaz81 commented on #183
Actually this warning does not concerns time but the amount of received messages. Each board has a finite (but pretty large) buffer, so one possibility is that the user module is flooding the system with a large amount of commands, thus the boards is discarding some of them.

[2017-02-20 08:49] francesco-romano opened #187 "Changes in yarpmotorgui home positions"
***Disclaimer***: this applies to YARP-`devel` but it will be merged into `master` in the future and released for everybody.

Dear @robotology/icub-developers  (especially @robotology/codyco-developers who make extensive use of this feature for balancing demos),

Since https://github.com/robotology/yarp/commit/af7b3e6ba5c0c69b907c8f58be621889f36e9a5a (currently in `devel`) the **`yarpmotorgui` has

[2017-02-20 09:56] pattacini commented on #183
Thanks @randaz81 for the clarification!

High-level Cartesian controllers usually run @ `100 Hz`, meaning that they send one message containing position-direct set-point each `10 ms`. I don't know if this information might help.

[2017-02-20 11:55] julijenv commented on #183
Hi @frank-foerster ,
How often do you get the error message?
Can you attach a logfile for a normal use of the robot, thx in advance

[2017-02-20 13:53] billingo opened #188 "Port callback threading"
I have a Yarp module listening to input messages using BufferedPort::onRead(...). I noticed that these callbacks are blocking, meaning that the call to onRead() must finish before the same function can be called again, in response to the next message. In my implementation, the processing does at times take too long, meaning that messages will get lost since the single-threaded calls to onRead are

[2017-02-21 01:18] randaz81 commented on #187
Just a quick additional note: options like `--robot --names --parts` are unnecessary and should be avoided if possible. Yarpmotorgui in devel automatically detects the available robot parts through the device description server mechanism. If the device description server is running, these options are ignored (the server has the priority on the user options)

Temporary note:
Since the development b

[2017-02-21 02:57] DanielePucci commented on #186
Hi @nedatym,
if you could provide us with additional information about the optimisation problem, we may have additional insights into the big picture and give you more precise suggestions.

In general, during torque-controlled experiments, we set the maximum (desired) joint torque differently for each joint. As a rule of thumb, you can set (unit measurement is Nm):

`arms-max-torque`: 12
`torso-ma

[2017-02-21 07:19] randaz81 commented on #186
If you need to abstract your application from a specific robot, `yarp::dev::ITorqueControl::getTorqueRanges() ` should return the information you need.
In the case of iCub, the function mentioned above returns the values stored in the iCub configuration files, which are the numbers mentioned by Daniele in the comment above.

[2017-02-21 10:18] pattacini commented on #188
Hi @billingo

Although I'm in favor of your solution using thread pooling (it's cleaner and safer), have you ever tried to use [**`yarp::os::PortReader`**][1] instead? Perhaps, I'm not sure, it allows for **reentrant callbacks**. Here's a [**tutorial**][2] (you don't need to provide a reply in your case).

Anyone has more heads-up on this? @traversaro @drdanz

[1]: http://www.yarp.it/classyarp_1_1

[2017-02-21 10:52] frank-foerster commented on #183
Hi @pattacini and @randaz81 ,
many thanks for the explanation. I'm not knowingly generating any messages in my modules which just makes use of the cartesian controller and ARE. But anyways, I assume for the moment that it's ok to run the system given the general absence of funny behaviour.

@julienv:
I'm getting these kind of messages pretty regularly. I would estimate at least every 2nd run.
I ha

[2017-02-21 11:35] julienV commented on #183
On 21/02/2017 11:52, Frank Förster
      wrote:

      Hi @pattacini
        and @randaz81
        ,
        many thanks for the explanation. I'm not knowingly generating
        any messages in my modules which just makes use of the cartesian
        controller and ARE. But anyways, I assume for the moment that
        it's ok to run the system given the general absence of funny
        behaviour

[2017-02-21 12:23] frank-foerster commented on #183
Oh dear, sorry for that. I meant @julijenv

[2017-02-23 10:39] frank-foerster commented on #183
Hi @julienv,

so here is finally one of yesterday's logs containing the relevant error message (line 696)
Before that there are some other error messages of the type

`positionMoveRaw: skipping command because    joint  x is not in VOCAB_CM_POSITION mode`

which probably has to do with me using cartesian control and ARE simultaneously and me maybe not saving and restoring contexts sufficiently oft

[2017-02-23 10:55] pattacini commented on #183
Hi @frank-foerster,

Thanks for the log!

`ARE` make uses of the `Cartesian Controller` underneath, which is in turn responsible for switching the mode in `VOCAB_CM_POSITION_DIRECT` mode. It never switches the joints back to `VOCAB_CM_POSITION`  and never controls the joints in such a modality. It appears from the log that somehow you tried once to control the joints of the arm in `VOCAB_CM_POSITI

[2017-02-23 11:40] frank-foerster commented on #183
Hi @pattacini ,
thanks for the additional information. My application is actually slightly more complicated than I described. I'm using cartesian control, position control, and ARE. Position control normally only in the beginning and end in order to have very tight control of the arm and avoid collision with the table. But I may have slipped some position control command in between. So it's possib

[2017-02-23 11:55] pattacini commented on #183
Ok, then, understood. Remember to change the mode to `VOCAB_CM_POSITION` right before commanding in position.

[2017-02-24 15:26] pattacini commented on #183
@julijenv there are two overrun events in the log. Do you have any guess on them?

[2017-02-24 16:48] lornat75 commented on #188
I agree, switching to Portreader will allow concurrent callbacks.

[2017-02-24 18:34] julijenv commented on #183
well, I think it is exagerated to think that this could affect in any kind of way the activity of the robot if it was more often or in any specific movement so I would be worried but so far I would leave it like that.

[2017-02-25 11:25] vtikha opened #189 "iCub Basic Image Processing question"
_From @accateo on February 25, 2017 10:37_

Hi,
I'm trying to follow the "Basic Image Processing" tutorial of iCub:

http://wiki.icub.org/brain/icub_basic_image_processing.html

I have connected the image source, but I don't understand where I should see these messages:

We got an image of size 320x240
  We got an image of size 320x240
  We got an image of size 320x240
  ...
in what terminal?
Seco

[2017-02-25 11:25] vtikha commented on #189
Hi @accateo, first of all, please use the [Q&A](https://github.com/robotology/QA/issues) for any questions you have and not the icub-support which is a repository used to signal failures/repairs or ask for hardware/software questions regarding the physical robots. I will close this and reopen it in the proper repo.

[2017-02-25 12:04] vtikha commented on #189
@accateo

1. tutorial basically generate two different programs. One called `findLocation` and one `lookAtLocation`. The first one, `findLocation`  basically generates the prints you are looking for:

If you have copied the code from the online tutorial, then these prints happen in the terminal where you run the `findLocation` module.
If on the other hand you are using the `icub-tutorial` reposito

[2017-02-25 12:54] billingo commented on #188
Perfect, many thanx. I'll try this out!

[2017-02-25 13:12] pattacini commented on #183
Yes, definitely I'm not worried about, but you know, it's always better to keep every warning under control 😉

@frank-foerster shall we close this?

[2017-02-25 14:03] frank-foerster commented on #183
Hi @julijenv , thanks for the message of appeasement. That's what I wanted to hear.
Just wanted to be sure that nothing serious is amiss and I should look into that before cotinuing to use the iCub.
@pattacini : yes, closing this for now.

[2017-02-25 15:38] pattacini commented on #186
@nedatym any feedback on this?

[2017-02-25 16:24] accateo commented on #189
Thanks for the second question.
For the first question instead, what do you mean with "these prints happen in the terminal where you run the findLocation module.". I have different terminal: yarp server, icub sim, icub view.
I connect the image using the command:

yarp connect /icubSim/cam/left /tutorial/image/in
Should I open other terminals?

[2017-02-25 16:37] vtikha commented on #189
@accateo where do you run the executable findLocation? How does the `/tutorial/image/in` even get created? is that the port name you are giving to the `yarpview`? Then you are seeing images from the `simulator's camera` on the `yarpview` correct?

[2017-02-25 16:46] vtikha commented on #189
@accateo what to run in terminals (I am assuming you are following the tutorial and compiled code)
[code]

[2017-02-26 09:48] accateo commented on #189
Sorry but "findLocation" terminal how can I open it?
I have already generate yarpy executable file...

[2017-02-26 19:38] pattacini commented on #189
Hi @accateo

What @vtikha pointed out is simply that those printout messages are showing up in the terminal from which you run the `findLocation` executable.

Can you launch the tutorial again to verify that?

[2017-02-26 19:57] vtikha commented on #189
Hi @accateo ok now I get it, so, you created a `findLocation.cpp` file, copied the example code from the tutorial and did
[code]

Then you compiled and this  generated a `yarpy` executable. What you did not do is rename the file as mentioned by replacing the project name `yarpy` in following line of the `CMakeLists.txt` with `findLocation` or whatever you would like to.
[code]

So, no worries, now

[2017-02-27 16:13] pedrombmachado opened #190 "CAN FW update questions"
Dear all,
  I am trying to upgrade the CAN FW update on iCub 2.5 (Eth base). I am able to connect to see CAN 1 and CAN 2. However I am not sure where to find the FW for each one one of CAN 1 and 2. I have updated CAN1 with the EMS.hex. and I got the following:
[DEBUG]  BUS:id   type     version
[DEBUG] CAN1:4       8     2.1.-1
[DEBUG] CAN1:1       8     2.1.-1
[DEBUG] CAN1:2       8     2.1.-1
[D

[2017-02-27 16:20] randaz81 commented on #190
@marcoaccame can you help Pedro?
@pedrombmachado  can you please specify the name of your robot?

[2017-02-27 16:21] pattacini commented on #190
The robot should be **`iCubNottingham01`** 🤖

[2017-02-27 16:28] pedrombmachado commented on #190
Hi @pattacini ,
   Thanks for adding the robot name :).

[2017-02-27 20:12] accateo commented on #189
The problem is that I have exactly done the things that you have described, but these messages don't appear. Anyway is not important, the rest of the simulation works.
Thank you

[2017-02-27 21:23] vtikha commented on #189
@accateo can you post the code here please? I am referring to the code that is used to generate the `yarpy` executable. If you followed the tutorial it should be called `find_location.cpp`

[2017-02-28 08:45] accateo commented on #189
#include <stdio.h>
     #include <yarp/os/all.h>
     #include <yarp/sig/all.h>
     using namespace yarp::os;
     using namespace yarp::sig;
     int main() {
      Network yarp; // set up yarp
      BufferedPort<ImageOf<PixelRgb> > imagePort;  // make a port for reading images
       imagePort.open("/tutorial/image/in");  // give the port a name
       while (1) {
           ImageOf<PixelRgb> *

[2017-02-28 09:57] pattacini commented on #186
Closing for the time being.
Feel free to open it again if required.

[2017-02-28 12:25] vtikha commented on #189
@accateo you are probably not running the code or not connecting as everything is in order.
If there is an image coming in it will print the message. Could you perform a small test?
After running the `yarpserver` and the `iCub_SIM`, could you launch the following commands in a terminal?

[code]
and in another one do

[code]

Can you confirm that you see an image displayed in the yarpviewer?

[2017-02-28 12:46] marcoaccame commented on #190
Hi @pedrombmachado ,

as a general rule, instructions on how to update FW on ETH robots are on the icub wiki: http://wiki.icub.org/wiki/Firmware#Updating_the_FW_of_the_ETH_boards.

The link tells how to update the FW of both ETH and CAN boards.

If you read the wiki I am sure most of your doubts will be answered.

About your particular case, I can see that you are receiving support for how to perf

[2017-02-28 13:59] marcoaccame commented on #190
Hi @pedrombmachado, I close the issue for now and I will help you for any specific problem you may have in the relevant issue http://wiki.icub.org/wiki/Firmware#Updating_the_FW_of_the_ETH_boards.

[2017-02-28 16:37] vtikha commented on #189
@accateo then it is impossible that you do not see the printouts unless the connections you are doing and executable that you are launching are not correct.
I am referring to the excerpt of the above snippet:

[code]

[2017-02-28 17:11] accateo commented on #189
I know that is really strange, i don't know. But I repeat, it is not important.
Thanks for the patience

[2017-02-28 17:13] pattacini commented on #189
Ok then, I think we can close this issue.

[2017-02-28 17:34] emilio-cartoni opened #191 "Generating safe movements"
Dear all,
I have been told that a few years ago a "Virtual Skin" for the iCub was developed that basically "simulated" all movement commands in advance to avoid the iCub hitting itself.
I wanted to try and test it but I only found this page http://wiki.icub.org/wiki/MoBeE_installation which seems to be outdated (the source apparently fails to compile because something in Yarp has changed meanwhile

[2017-03-01 16:38] pattacini commented on #191
Hi @emilio-cartoni

I believe you're referring to our implementation of [**Peripersonal Space**][1] (PPS) on the iCub with the term "_virtual skin_". Actually, PPS does not account for a virtual skin but rather for a representation of the space surrounding the robot body that can be used in turn to predict contacts by merging **visual and tactile information**.

That being said, PPS equips the rob

[2017-03-02 15:22] emilio-cartoni commented on #191
Hi @pattacini,
thanks, we were thinking more along the planning components approach but PPS has some interesting features we might need, I'll look into the papers.

Our situation is that we have some projects starting that will all involve the iCub exploring a table with a few objects on it and we would like to have a general way to ensure that the iCub can freely explore any kind of movements but

[2017-03-02 18:28] pattacini commented on #191
That looks all good to me.

Let me only clarify one aspect: PPS does not track objects; it's merely responsible for eliciting virtual activation of the skin taxels involved in the interaction, whose inputs to do so are provided externally by any kind of tracking mechanism.

For tracking objects in a table-top scenario, I'd suggest you give a glance at our [**`IOL`**][1] component instead. There's

[2017-03-03 08:03] diegoferigo opened #192 "Docker integration"
Dear all,

I recently started playing with [docker](https://www.docker.com/) containers, and I realized that our infrastructure does not exploit at all this tool that [can be very helpful](https://www.docker.com/what-docker). For who doesn't know, docker allows the creation of the so-called *containers*, that are basically isolated root trees of a Linux OS. Docker containers could be seen as light

[2017-03-03 10:30] pattacini commented on #192
Interesting discussion @diegoferigo
@lornat75 may want to participate.

[2017-03-04 08:13] giodegas commented on #192
please have a look to my two years old docker image I am maintaining every yarp release
http://hub.docker.com/r/giodegas/yarp

I also encaplusated a full gazebo simulator with a WebGL GUI:
http://hub.docker.com/r/giodegas/gzweb

and experimented to inlude the iCub simulator:
http://hub.docker.com/r/giodegas/icub-gzweb

I am glad that finally official docker releases are born.
Please fell free to m

[2017-03-04 08:16] pattacini commented on #192
@giodegas's contribution is detailed in #24

[2017-03-06 07:41] diegoferigo commented on #192
@giodegas
I'm aware of your project, those images were the only one I found with YARP, thanks for maintaining them so far. Considering your longer experience with docker, feel free to advance suggestions.
For what concern `gzweb`, I still don't know anyone here at IIT that uses it. I'll merge your docker file if someone will request it.

[2017-03-06 16:41] LCaranzi opened #193 "Issue in downloading the virtual machine"
Dear all,

I had troubles in downloading the VM. I managed to connect to the server (i.e. `ftp.iit.it`), but I do not have access to the subdirectory of the server, thus I cannot download the file `iCub_Ubuntu_16.04_x64.zip`.

The error message is **"Failed to retrieve directory listing"** as it can be seen in the image below.

Can someone help me?
Many thanks.

![directoryerror](https://cloud.git

[2017-03-06 16:45] pattacini commented on #193
Hi @mbrunettini
Just for your reference, I've tried to download the VM via FileZilla and I was successful.

Could you help @LCaranzi?

[2017-03-07 08:08] mbrunettini commented on #193
You must use the FTPS protocol (port 990), it seems that you connected using the default FTP port.
Ref [the following instructions](https://github.com/vvv-school/vvv17/wiki/Before%20arriving%20at%20VVV)

[2017-03-07 19:11] pattacini opened #194 "Fast-motions with icub's arm"
@khoramshahi commented on [Tue Mar 07 2017](https://github.com/robotology/icub-main/issues/428)

Hi,

I would like to generate very fast motion with the new icub's arm (especially the shoulder joint 0 for pitch), and I have two questions regarding this that I would be thankful if you could help me with.
1) how fast can one move this joint (shoulder 0) with regard to safety issues and hardware dama

[2017-03-07 19:14] pattacini commented on #191
Closing for the time being. Feel free to open it again when needed.

[2017-03-08 08:51] LCaranzi commented on #193
Ok thanks, it worked!

[2017-03-08 16:55] pattacini commented on #194
Hi @khoramshahi

Question 1 does not have a general answer that can suit all conditions, depending very much on the task at hand. Further, we should rather discriminate between **peak velocities** and **average velocities**. In this respect, I would say that we shouldn't overcome **200 deg/s** peak and **60 deg/s** mean velocity. The peak I'm referring to, for example, could be the maximum velocit

[2017-03-08 17:03] pattacini commented on #194
That being said, it is very advisable to start with a design that foresees movements running at most at half of those limits, and then make incremental adjustments to push those bounds further.

[2017-03-08 17:36] emilio-cartoni commented on #191
@pattacini Ok, thanks for the help!
We'll have a look at IOL too.

[2017-03-09 11:02] pedrombmachado opened #195 "Confusion between icub-firmware and icub-firmware-build"
Hi all,

I am trying to fix my environmental variables and I have a question. On the [wiki](http://wiki.icub.org/wiki/ICub_PC104_Linux_Image_-_Detailed_info) it is said:

[code]

However, the repository name is [icub-firmware-build](https://github.com/robotology/icub-firmware-build) and therefore shouldn't it be:

[code]

Many thanks,
Pedro

[2017-03-09 11:45] pedrombmachado opened #196 "ENABLE_yarpcar_bayer_carrier, set to ON"
Hi all,
   I am compiling the yarp and I following all the steps described in [icub-wiki](http://wiki.icub.org/wiki/Linux:Installation_from_sources) and [yarp-wiki](http://www.yarp.it/install_yarp_linux.html).
After this step:
CREATE_OPTIONAL_CARRIERS, set to ON
I should be able to do
 **_ENABLE_yarpcar_bayer_carrier, set to ON_**
however the closest thing to this is:
ENABLE_yarpcar_bayer
Is this

[2017-03-09 12:13] pedrombmachado commented on #195
Found the answer. I was missing the icub-firmware repository.

[2017-03-09 12:27] pedrombmachado commented on #195
Found the repository however it does not contain the build folder.
Shall I leave it like this?
export FIRMWARE_BIN=${ROBOT_CODE}/icub-firmware

[2017-03-09 12:30] pattacini commented on #196
Issue moved to [robotology/yarp #1126](https://github.com/robotology/yarp/issues/1126) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-09 12:52] randaz81 commented on #195
- `icub-firmware` contains the sources of the boards firmware. You don't need to download that repo, it is simply useless unless you have the firmware compiler(s).
- `icub-firmware-build` contains the binaries, generated from `icub-firmware` sources. It's the folder you need to check when you want to upgrade the firmware of robot boards.
 - `icub-firmware-shared` contains some sources and definiti

[2017-03-09 12:56] pedrombmachado opened #197 "Compilation of icub-main on the PC104"
Dear all,
 I am compiling the icub-main, following the steps described on the [wiki](http://wiki.icub.org/wiki/Compilation_on_the_pc104) on the pc104 and I found an issue that looks like a typo:
[code]
shouldn't it be:
[code]

[2017-03-09 12:59] pattacini commented on #197
Yes, definitely, thanks for pointing this out.
Fixed now.

[2017-03-09 13:00] pedrombmachado commented on #195
Hi @randaz81
  Many thanks for the reply. If possible please update the [Readme](https://github.com/robotology/icub-firmware-shared) to reflect that.
Many thanks,
Pedro

[2017-03-09 13:01] pedrombmachado commented on #197
Hi @pattacini ,
  You are always welcome.

[2017-03-09 13:10] pedrombmachado opened #198 "compilation of iCub-main on pc104 - ENABLE_icubmod_icubheadcalibratorV2"
Dear all,
  I am compiling the icub-main as decribed in the [wiki](http://wiki.icub.org/wiki/Compilation_on_the_pc104).
  I cannot find the option
**_ENABLE_icubmod_icubheadcalibratorV2_**
and I am using the latest version of the [icub-main](https://github.com/robotology/icub-main) with CMAKE 3.0.2.
Is ENABLE_icubmod_icubheadcalibratorV2 obsolete and if so should I enable anything else in its plac

[2017-03-09 13:12] barbalberto commented on #198
That device does not exists anymore, you can safely ignore it.

[2017-03-09 13:16] pattacini commented on #198
That's fine, but then we should also update the instructions pointed above.
@randaz81 @barbalberto would you be willing to take on this?

[2017-03-09 13:21] barbalberto commented on #198
Done

[2017-03-09 13:23] pedrombmachado commented on #198
Just a quick suggestion. Please make sure that says something like icub ver... **_and above_**. It really helps the user to follow the instructions.
Many thanks.
Pedro

[2017-03-09 13:39] traversaro commented on #195
I opened a PR for adding a README to `icub-firmware-build` one year ago explicitly to avoid this confusion: https://github.com/robotology/icub-firmware-build/pull/8 , nobody ever commented, so I think we can merge it. : )

[2017-03-09 13:43] pattacini commented on #195
Go ahead 😉 then @traversaro

[2017-03-09 13:43] pedrombmachado commented on #198
Hi @barbalberto ,
 We have the icub v2.5 and there are at least 3 flags missing [icub-support/issues/407](https://github.com/robotology/icub-support/issues/407):
The device embObjStrain is not compiled. It is needed to manage the F/T sensors. See point 1 for how to solve.
    The devices embObjMais and canBusSkin are not compiled.

[2017-03-09 16:19] asutcl commented on #194
Hi @pattacini,

I am working with @khoramshahi. Thank you for the information. We were able to reach peak velocity. We observed that the velocity of the shoulder would actually plateau around 200 deg/s. Please see the graph below.

We wonder if there are any safety limitations in place. For example, we noticed an output limit on the PID (observed through the yarpmotorgui), could this contribute to

[2017-03-10 09:18] pattacini commented on #194
Hi @asutcl

Assuming that the position reference you're sending is a minimum-jerk profile (as it much resembles), you're asking to move the joint with a peak velocity of **337 deg/s** and a mean velocity of **180 deg/s**. Am I correct? These values do really seem to be too high and scary to me. Fortunately, you did not break the arm.

- In which modality are you commanding the movement? Would you

[2017-03-10 12:41] pattacini commented on #194
The arms movements performed in the [**Tai Chi**][1] demo are generated in **torque mode** (essentially by means of a direct control of the voltage delivered to the motors) and are not faster than those achieved via position control. It's more an impression induced by the coordinated choreography of the body movements, as you already noticed.

[1]: https://www.youtube.com/watch?v=9XRI4BeXN78

[2017-03-10 13:00] asutcl commented on #194
Hi @pattacini,

Thanks a lot for your replies. I will try to share the code on Gist either later today or Monday.

Regarding the graph I presented, we very slowly incremented the maximum velocity in order to limit the risks. What we noticed is that up to 200deg/s the actual trajectory would stay close to your planned trajectory. When we carefully pushed it higher, we notice that the only effect it

[2017-03-11 10:58] accateo opened #199 "tutorial_yarp-ports problem"
Hi,
I'm following the tutorial_yarp-ports:

https://github.com/vvv-school/tutorial_yarp-ports

I have compiled the "port folder" code and the "buffered port" code. After that, I have run the two executables and the yarp server works correctly.
I have also connect the ports:

`$ yarp connect /w /relay/in`
`$ yarp connect /relay/out /r `

but when I try to write in the "yarp write" terminal, I don't

[2017-03-12 10:14] pattacini commented on #194
Considering your latest information, I'd say that the limiting factor here is the voltage applied to the motors, which is presumably saturated. You could check that by means of the **`IPidControl`** interface, as I pointed out in my previous post.

In this respect, from a quick back-to-back comparison between [**iCubLausanne01**][1] and [**iCubLausanne02**][2] it comes out that there are some diff

[2017-03-12 10:16] pattacini commented on #199
Does anyone from @robotology/ifi-younglings want to take on this?

@Iaxama @Arya07 @gmmarconi ?

[2017-03-12 10:18] pattacini commented on #192
Closing, feel free to open it again when needed.

[2017-03-13 10:07] Arya07 commented on #199
Hi @accateo,
yes, to complete the tutorial, you have to edit the cpp files, following the commented hints.

[2017-03-13 10:57] pattacini commented on #199
The complete tutorial is contained in the branch [`solution`](https://github.com/vvv-school/tutorial_yarp-ports/tree/solution).

[2017-03-13 16:27] BrutusTT opened #200 "PC104 backup"
Hi,

is there an image for the pc104 or an installation guide or something similar (iCub Edinburgh)?

I just want to make sure we have a backup copy before changing stuff on the head. In the past there was a usb stick but that seems to be gone now. Any suggestions to get a backup that I can play back easily?

Cheers

[2017-03-13 19:08] accateo commented on #199
Thanks!

[2017-03-14 11:33] pedrombmachado commented on #200
Hi @mbrunettini ,
   Have you considered to use Deja-Dup? It is a very simple backup tool that works and allows you to save your information. You can also use dd if you want to clone the all image:
run from remote computer

$ dd if=/dev/sda | gzip -1 - | ssh user@local dd of=image.gz

run from local computer

$ ssh user@remote "dd if=/dev/sda | gzip -1 -" | dd of=image.gz

Live example

$ ssh skin

[2017-03-14 14:20] charleswilmot opened #201 "About using the world interface plugin within Gazebo"
Hi there!

My name is Charles Wilmot, I'm a phd student at the _Frankfurt Institute for Advanced Studies_.
Together with labs in Darmstadt (TUDa) and Rome (CNR), we chose Gazebo to simulate the iCub robot. Our purpose is to study intrinsic motivation and self generated goal learning.

We need your help because we're having a deadlock. Concretely, we are using the language Python to control the iCu

[2017-03-14 14:41] pattacini commented on #201
Hi @charleswilmot

Could you please refine your related issues, since they don't seem to be real links. Follow instructions given in #3 for providing cross-references from different repositories.

cc @traversaro @francesco-romano @randaz81

[2017-03-14 17:36] BrutusTT commented on #200
Thanks, should have looked at stack overflow earlier ;).

I thought that there is maybe an image of some sort around for shipped pc104s. But I will try the dd way.

[2017-03-14 19:36] gsaponaro commented on #200
Hi @BrutusTT,

The "[Linux on the pc104](http://wiki.icub.org/wiki/The_Linux_on_the_pc104)" page of the manual points out to how to download and use the PC104 Debian images (http://www.icub.org/download/pc104-images/).

The "[Compilation on the pc104](http://wiki.icub.org/wiki/Compilation_on_the_pc104)" page is also useful, describing the kind of customization usually needed on the PC104: environm

[2017-03-14 23:08] BrutusTT commented on #200
Hi @gsaponaro

Our "problem" is that we got Ubuntu instead of Debian on the pc104. Therefore, I was not quite sure if all of the instructions still apply to our version.

[2017-03-15 09:34] charleswilmot commented on #201
Hi @pattacini ,

Sorry for that, I updated my question now.

[2017-03-15 10:23] pedrombmachado commented on #200
Hi @BrutusTT ,
  Great news then.

[2017-03-15 10:54] pattacini commented on #200
@pedrombmachado @BrutusTT thanks for sharing the instructions.
@mbrunettini might consider putting them in our wiki too, as an alternative method to back up the system.

[2017-03-15 15:13] BrutusTT opened #202 "PC104 sound"
Hi,

its the iCubEdinburgh01 again. How can I enable sound input (output) on the head?

I tried the yarpdev portaudio according to the wiki page (http://wiki.icub.org/wiki/Grabbing_sound_with_PortAudio):

I checked the linux related steps:
-> noted that /dev/sndstat is not available. How would I get it? Is it required?

[code]

checked that aplay see devices:

[code]

and checked that yarpdev has

[2017-03-15 18:07] BrutusTT commented on #202
After installing pulseaudio and rebooting I could at least get some sound output via the following command which is able to play the provided test wav:

[code]

It seems that the default sound card points to the wrong one.

[2017-03-16 08:32] pattacini commented on #201
Hi @charleswilmot

Unfortunately, I don't think we have already a proper documentation. However, since the `wordlnterface` plugin has been designed and implemented using **Thrift**, it should be fairly easy for the time being to figure out what is the protocol you need to use in order to talk to Gazebo.

All you need is indeed defined in the [`worldinterface_rpc.thrift`][1] file. Each method of th